@charset "utf-8";
@import url(default.css);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
html, body {
    font-family: 'Noto Sans KR', sans-serif; /* 서체 */
    font-size: 15px; /* 크기 */
    color: #3d3d3d; /* 글자색상 */
    font-weight: 400; /* 글자의 두께 */
    line-height: 1.4; /* auto */
    word-break: keep-all; /* 단어를 묶어서 줄바꿈 */
    word-wrap: break-word; /* 단어별로 줄바꿈을 하는데 단어가 긴 경우 강제 줄바꿈 허용 */
}
.wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    width: 1280px; /* 홈페이지 넓이 */
    margin: 0 auto;  /* 가운데 정렬 */
}
#wrap { /* id="wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* PC형에서 wrapper사이즈보다 브라우저 넓이가 작을때
       가로스크롤바가 생성되는데 오른쪽에 background가 
       짤리는 현상이 생김.  
       가로스크롤바가 생성되었을때도 홈페이지를 정상적으로 
       서비스 하기 위해서 최소 넓이를 입력 */
    position: relative;
    /* 브라우저 가로 스크롤바가 생성되었을때 body를 기준으로 정렬하는 요소는 깨짐
       그래서 모든 요소는 기본적으로 body가 아닌 wrap를 기준으로 정렬하도록
       position:relative를 줌 */
}

/* 640px 이하일때 스타일 - 640이하는 모바일 초과는 탭 */
@media screen and (max-width:640px){
    html, body {
        font-family: 'Noto Sans KR', sans-serif; /* 서체 */
        font-size: 13px; /* 크기 */
        word-break: keep-all; /* 단어를 묶어서 줄바꿈 */
    }
    .wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
        width: auto; 
        /* 홈페이지 넓이를 제한하면 안됨
           디바이스의 넓이에 맞춰서 꽊차게 나와야 하기 때문에
           그 안쪽으로 좌우 여백이 20px씩 들어가게 함 */
        margin: 0 20px;  /* 가운데 정렬 */
    }
    #wrap { /* id="wrap"에 적용되는 스타일 */
        min-width: auto; /* 홈페이지 최소 넓이 제한하지 않음 */
    }
} /* media */

.header {
    height: 50px;
    position: relative;
}
.header .gnb .gnb_btn {
    position: absolute; /* header 기준 */
    right: 0;
    top: 0;
    z-index: 101;
    width: 50px;
    height: 50px;
    background-color: #E98484;
}
.header .gnb .gnb_btn button {
    display: none;
}
.header .gnb .gnb_btn span {
    position: absolute;
    left: calc(50% - 8px);
    width: 16px;
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
}
.header .gnb .gnb_btn span.bar1 {
    top: 18px;
}
.header .gnb .gnb_btn span.bar2 {
    top: 23px;
}
.header .gnb .gnb_btn span.bar3 {
    top: 28px;
}
.header.menu_open .gnb .gnb_btn span.bar1 {
    /* top: 23px;
    transform: rotate(45deg);
    left: calc(50% - 10px);
    width: 20px; */
    animation-name: menu_open1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.header.menu_open .gnb .gnb_btn span.bar2 {
    opacity: 0;
}
.header.menu_open .gnb .gnb_btn span.bar3 {
    /* top: 23px;
    transform: rotate(-45deg);
    left: calc(50% - 10px);
    width: 20px; */
    animation-name: menu_open3;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes menu_open1 { /* bar1이 열림 -> 닫힘으로 바뀔때 */
    0% { top: 18px; transform: rotate(0deg);}
    50% { top: 23px; transform: rotate(0deg);}
    100% { top: 23px; transform: rotate(45deg); }
}
@keyframes menu_open3 { /* bar3이 열림 -> 닫힘으로 바뀔때 */
    0% { top: 23px; transform: rotate(0deg);}
    50% { top: 23px; transform: rotate(0deg);}
    100% { top: 23px; transform: rotate(-45deg); }
}
.header .gnb .gnb_wrap {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #E98484;
    color: #fff;
    padding: 60px 20px 20px 20px;
}
.header.menu_open .gnb .gnb_wrap {
    display: block;
}
.header .gnb ul.depth1 {
    height: calc(100vh - 80px); /* padding 위아래값 */
    overflow-y: auto;
}
.header .gnb ul.depth1 > li > a {
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    display: block;
}
.header .gnb ul.depth1 >li > a > span {
    position: relative;
}
.header .gnb ul.depth1 >li > a > span::after {
    position: absolute;
    right: -20px;
    top: 0;
    width: 11.15px;
    height: 6.55px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.575 6.55C5.44167 6.55 5.31667 6.52917 5.2 6.4875C5.08333 6.44583 4.975 6.375 4.875 6.275L0.275 1.675C0.0916667 1.49167 0 1.25833 0 0.975C0 0.691667 0.0916667 0.458333 0.275 0.275C0.458333 0.0916667 0.691667 0 0.975 0C1.25833 0 1.49167 0.0916667 1.675 0.275L5.575 4.175L9.475 0.275C9.65833 0.0916667 9.89167 0 10.175 0C10.4583 0 10.6917 0.0916667 10.875 0.275C11.0583 0.458333 11.15 0.691667 11.15 0.975C11.15 1.25833 11.0583 1.49167 10.875 1.675L6.275 6.275C6.175 6.375 6.06667 6.44583 5.95 6.4875C5.83333 6.52917 5.70833 6.55 5.575 6.55Z' fill='white'/%3E%3C/svg%3E%0A");
    transition: 0.5s;
}
.header .gnb ul.depth2 {
    display: none;
}
.header .gnb ul.depth1 > li.sub_open > a > span::after {
    transform: rotate(180deg);
}