<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>layout</title>
</head>
<body>
    <div class="wrapepr">
        <div class="top">
            <header class="header"></header>
            <div class="container"></div>
            <div class="visual"></div>
        </div>
        <footer class="footer">
            <div class="f_logo"></div>
            <div class="inner">
                <div class="f_nav"></div>
                <div class="copyright"></div>
            </div>
        </footer>
    </div>
</body>
</html>