@import url(default.css);
@import url(common.css);
@import url(layout.css);

/* 파일명 : main.css
   작성자 : 유선호
   작성일 : 2024.03.14
   설  명 : 메인페이지에만 들어가는 스타일을 저장 (header와 footer 빼고 전부 다) */


@media screen and (max-width:1600px) {
   section .wrapper {
      width: auto;
      margin: 0 150px;
   }
}
@media screen and (max-width:1024px) {
   section .wrapper {
      margin: 0 20px;
   }
}

.visual {
   margin-top: 100px;
}
.visual .swiper {
   height:700px
}
.visual .swiper-slide img {
   display:block;
   width:100%;
   height:700px;
   object-fit:cover;
}
.visual .swiper-pagination-bullet.swiper-pagination-bullet-active {
   background-color: #fff;
}
.visual h2 {
   display: none;
}
.visual .visual_txt {
   position: absolute; /* swiper-slide */
   text-align: right;
   top: 444px;
   right: 5%;
   transform: translate(-5%, 0);
   color: #fff;
}
.visual .visual_txt strong {
   display: block;
   font-size: 35px;
   font-weight: 700;
   line-height: 1.4;
}
.visual .visual_txt span {
   color: rgb(235, 113, 26);
}
@media screen and (max-width:1320px) {
   .visual .swiper {
      height: 500px
   }
   .visual .swiper-slide img {
      height: 500px;
   }
   .visual .visual_txt {
      top: 300px;
      right: 5%;
   }
   .visual .visual_txt strong {
      font-size: 27px;
   }
}
@media screen and (max-width:1024px) {
   .visual .swiper {
      height: 450px
   }
   .visual .swiper-slide img {
      height: 450px;
   }
   .visual .visual_txt strong {
      font-size: 23px;
   }
}
@media screen and (max-width:768px) {
   .visual {
      margin-top: 50px;
   }
   .visual .swiper {
      height: 300px
   }
   .visual .swiper-slide img {
      height: 300px;
   }
   .visual .visual_txt {
      top: 160px;
   }
   .visual .visual_txt strong {
      font-size: 15px;
   }
}

.biz {
   margin: 40px 0 110px 0;
}
.biz p {
   text-align: center;
   line-height: 1.6em;
}
.biz span {
   font-size: 18px;
}
.biz .biz_tit {
   display: flex;
   justify-content: space-between;
   position: relative;
   margin: 130px 0 20px 0;
}
.biz .biz_tit h2 {
   font-size: 30px;
   font-weight: 700;
   color: #1d1d1d;
}
.biz .biz_tit .more {
   margin-top: 20px;
}
.biz .biz_tit .more {
   position: relative;
   display: inline-block;
   width: 60px;
}
.biz .biz_tit .more::after {
   position: absolute;
   right: 0;
   top: 5px;
   width: 10px;
   height: 10px;
   content: "";
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='3d3d3d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.08464 5.42444H0V4.4382H8.08464L4.2872 0.692902L5 0L10 4.93132L5 9.86264L4.2872 9.16973L8.08464 5.42444Z' fill='3d3d3d'/%3E%3C/svg%3E ");
}
.biz .inner {
   display: flex;
   justify-content: space-between;
}
.biz .inner .list ul {
   display: flex;
   flex-wrap: wrap;
}
.biz .inner .list ul li {
   width: calc(25% - 0);
   height: 100%;
   margin-right: 28px;
}
.biz .inner .list ul .last{
   margin-right: 0;
}
.biz .inner .list ul li a {
   display: block;
   text-align: left;
}
.biz .inner .list ul li a .photo {
   display: block;
   height: 100%;
   overflow: hidden; /* 이미지가 확대 되었을때 밖으로 나가는것 막기 */
   transition: 0.5s;
}
.biz .inner .list ul li a .photo img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: 0.5s;
}
.biz .inner .list ul li a:hover .photo img {
   transform: scale3d(1.1, 1.1, 1);
}
.biz .inner .list ul li a strong {
   font-size: 18px;
   font-weight: 700;
   margin: 5px 0;
   display: block;
   color: #2d2d2d;
}
.biz .inner .list ul li a p {
   margin-bottom: 20px;
   text-align: left;
   line-height: 1.2em;
}
@media screen and (max-width:1320px) {
   .biz .biz_tit {
      margin: 70px 0 20px 0;
   }
   .biz .inner .list ul li {
      width: calc(25% - 21px);
   }
}
@media screen and (max-width:1024px) {
   .biz {
      margin: 30px 0 50px 0;
   }
   .biz .biz_tit {
      margin: 70px 0 10px 0;
   }
   .biz .biz_tit h2 {
      font-size: 27px;
   }
   .biz .inner .list ul li {
      width: 350px;
      margin-right: 29px;
   }
   .biz .inner .list ul .m {
      margin-right: 0;
   }
}
@media screen and (max-width:768px) {
   .biz {
      margin: 20px 0 50px 0;
   }
   .biz span {
      font-size: 13px;
   }
   .biz .biz_tit {
      margin: 30px 0 10px 0;
   }
   .biz .biz_tit h2 {
      font-size: 18px;
   }
   .biz .biz_tit .more {
      margin-top: 5px;
   }
   .biz .biz_tit .more {
      width: 50px;
   }
   .biz .biz_tit .more::after {
      top: 4px;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.42309 5.57691H0.576925C0.413463 5.57691 0.276443 5.5216 0.165866 5.41098C0.0552887 5.30035 0 5.16328 0 4.99975C0 4.83621 0.0552887 4.69922 0.165866 4.58877C0.276443 4.47832 0.413463 4.42309 0.576925 4.42309H4.42309V0.576925C4.42309 0.413463 4.4784 0.276443 4.58902 0.165866C4.69965 0.0552887 4.83672 0 5.00025 0C5.16379 0 5.30078 0.0552887 5.41123 0.165866C5.52168 0.276443 5.57691 0.413463 5.57691 0.576925V4.42309H9.42307C9.58654 4.42309 9.72356 4.4784 9.83413 4.58902C9.94471 4.69965 10 4.83672 10 5.00025C10 5.16379 9.94471 5.30078 9.83413 5.41123C9.72356 5.52168 9.58654 5.57691 9.42307 5.57691H5.57691V9.42307C5.57691 9.58654 5.5216 9.72356 5.41098 9.83413C5.30035 9.94471 5.16328 10 4.99975 10C4.83621 10 4.69922 9.94471 4.58877 9.83413C4.47832 9.72356 4.42309 9.58654 4.42309 9.42307V5.57691Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
   }
   .biz .inner .list ul li {
      width: calc(50% - 5px);
      margin-right: 10px;
   }
   .biz .inner .list ul li a strong {
      font-size: 15px;
      margin: 5px 0;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
   }
   .biz .inner .list ul li a p {
      margin-bottom: 15px;
   }
}

.reservation h2 {
   font-size: 30px;
   font-weight: 700;
   color: #1d1d1d;
   margin-bottom: 20px;
}
.reservation .inner {
   display: flex;
   justify-content: space-between;
}
.reservation .inner .photo {
   height: 266px;
}
.reservation .inner .info {
   text-align: center;
   width: 50%;
   margin-top: 40px;
}
.reservation .inner .info ul li {
   margin-bottom: 48px;
}
.reservation .inner .info ul li:last-child {
   margin-bottom: 0;
}
.reservation .inner .info ul li a {
   position: relative;
   display: inline-block;
   border: 1px solid #6378FF;
   background-color: #6378FF;
   border-radius: 30px;
   width: 408px;
   line-height: 69px;
   padding: 0;
   color: #fff;
   font-weight: 700;
   padding-left: 50px;
}
.reservation .inner .info ul li a::before {
   position: absolute;
   left: 60px;
   top: 19px;
   width: 33px;
   height: 33px;
   content: "";
   background-image: url(../images/main/tel.svg);
   background-repeat: no-repeat;
   background-position: center center;
}
.reservation .inner .info ul li .sms::before {
   position: absolute;
   left: 60px;
   top: 14px;
   width: 40px;
   height: 40px;
   content: "";
   background-image: url(../images/main/sms.svg); 
   background-repeat: no-repeat;
   background-position: center center;
}
.reservation .inner .info ul li .sms {
   border: 1px solid #FAE100;
   background-color: #FAE100;
   color: #3d3d3d;
}
.reservation .inner .info ul li a h3 {
   font-size: 20px;
}
@media screen and (max-width:1320px) {
   
}
@media screen and (max-width:1024px) {
   
}
@media screen and (max-width:768px) {
   
}

.location {
   margin: 130px 0 200px 0;
}
.location h2 {
   font-size: 30px;
   font-weight: 700;
   color: #1d1d1d;
   text-align: center;
   margin-bottom: 50px;
}
@media screen and (max-width:1320px) {
   
}
@media screen and (max-width:1024px) {
   
}
@media screen and (max-width:768px) {
   
}