@charset "utf-8"; /* 이 CSS 문서는 UTF-8양식으로 인코딩 되어 있습니다. */
@import url(default.css);
/* 본고딕 CND방식으로 사용할때 폰트를 정의하는 font-face가 입력된 css를 import 불러다가
   사용하는 방식을 많이 씀
   이 방식은 간단하지만 문제가 google이 서비스를 중단하면 사용 못함
   font 파일을 저장해서 사용하는 방식을 씀 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
html, body {
    font-family: 'Noto Sans KR', sans-serif; /* 서체 */
    font-size: 15px; /* 크기 */
    color: #3d3d3d; /* 글자색상 */
    font-weight: 400; /* 글자의 두께 */
    line-height: 1.4; /* auto */
    word-break: keep-all; /* 단어를 묶어서 줄바꿈 */
}
.wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    width: 1280px; /* 홈페이지 넓이 */
    margin: 0 auto;  /* 가운데 정렬 */
}
#wrap { /* id="wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* PC형에서 wrapper사이즈보다 브라우저 넓이가 작을때
       가로스크롤바가 생성되는데 오른쪽에 background가 
       짤리는 현상이 생김.  
       가로스크롤바가 생성되었을때도 홈페이지를 정상적으로 
       서비스 하기 위해서 최소 넓이를 입력 */
}

/* 640px 이하일때 스타일 - 640이하는 모바일 초과는 탭 */
@media screen and (max-width:640px){
    html, body {
        font-family: 'Noto Sans KR', sans-serif; /* 서체 */
        font-size: 13px; /* 크기 */
        word-break: keep-all; /* 단어를 묶어서 줄바꿈 */
    }
    .wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
        width: auto; 
        /* 홈페이지 넓이를 제한하면 안됨
           디바이스의 넓이에 맞춰서 꽊차게 나와야 하기 때문에
           그 안쪽으로 좌우 여백이 20px씩 들어가게 함 */
        margin: 0 20px;  /* 가운데 정렬 */
    }
    #wrap { /* id="wrap"에 적용되는 스타일 */
        min-width: auto; /* 홈페이지 최소 넓이 제한하지 않음 */
    }
} /* media */

.header {
    /* fixed 브라우저 위치가 고정 - 스크롤을 내리던 말던 무조건 body랑만 정렬됨 */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header .logo {
    float: left;
    margin-top: 21px;
}
.header .logo a {
    display: block;
    width: 158px;
    height: 52px;
    background: url(../images/logo_w.svg);
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: contain;
    /* 영역의 넓이와 높이에 이미지가 안짤리고 꽉차게 나오기 */
    font-size: 0;
    line-height: 0;
}
.header .gnb {
    float: left;
    margin-left: 424px;
}
.header .gnb .gnb_open,
.header .gnb .gnb_close {
    display: none; /* pc버전에서 안보임 */
}
.header .gnb ul.depth1 {
    display: flex;
}
.header .gnb ul.depth1 > li {
    width: 124px;
    text-align: center;
}
.header .gnb ul.depth1 > li > a {
    display: block;
    line-height: 100px;
    font-size: 20px;
    font-weight: 700;
}
.header .gnb ul.depth1 > li > a > span {
    position: relative; /* after 정렬의 기준 */
}
.header .gnb ul.depth1 > li:hover > a {
    color: #009FE3;
}
.header .gnb ul.depth1 > li:hover > a > span::after {
    position: absolute;
    left: 0;
    bottom: -37px;
    width: 100%;
    height: 3px;
    background-color: #009FE3;
    content: "";
}
.header .gnb ul.depth2 { /* 2차메뉴 */
    margin-top: 7px;
    display: none; /* 마우스 오버했을때만 나타남 */
}
.header .gnb ul.depth2 > li > a {
    display: block;
    font-size: 15px;
    line-height: 36px;
    color: #1d1d1d;
}
.header .gnb ul.depth2 > li > a:hover {
    color: #009FE3;
    font-weight: 700;
}
.header .tnb {
    float: right;
    display: flex;
    margin-top: 34px;
}
.header .tnb .login,
.header .tnb .lang {
    width: 27px;
    height: 27px;
    display: block; /* 사이즈가 적용되도록 */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-size: 0;
    line-height: 0;
}
.header .tnb .login {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_10_315)'%3E%3Cpath d='M12.9375 12.6296C11.9991 12.6296 11.1957 12.2866 10.5274 11.6008C9.85915 10.9149 9.52501 10.0904 9.52501 9.1273C9.52501 8.16416 9.85915 7.33966 10.5274 6.65381C11.1957 5.96794 11.9991 5.625 12.9375 5.625C13.8759 5.625 14.6793 5.96794 15.3476 6.65381C16.0158 7.33966 16.35 8.16416 16.35 9.1273C16.35 10.0904 16.0158 10.9149 15.3476 11.6008C14.6793 12.2866 13.8759 12.6296 12.9375 12.6296ZM5.625 18.7298V18.0255C5.625 17.5354 5.75469 17.0816 6.01407 16.664C6.27344 16.2464 6.62 15.9254 7.05375 15.7009C8.0175 15.2159 8.98969 14.8522 9.97032 14.6098C10.9509 14.3673 11.94 14.2461 12.9375 14.2461C13.935 14.2461 14.9241 14.3673 15.9047 14.6098C16.8853 14.8522 17.8575 15.2159 18.8213 15.7009C19.255 15.9254 19.6016 16.2464 19.8609 16.664C20.1203 17.0816 20.25 17.5354 20.25 18.0255V18.7298C20.25 19.1519 20.1059 19.5107 19.8178 19.8064C19.5297 20.1021 19.18 20.25 18.7688 20.25H7.10622C6.69498 20.25 6.34531 20.1021 6.05719 19.8064C5.76906 19.5107 5.625 19.1519 5.625 18.7298ZM7.08748 18.749H18.7875V18.0255C18.7875 17.8228 18.7303 17.6351 18.6159 17.4626C18.5016 17.2901 18.3463 17.1493 18.15 17.0402C17.31 16.6156 16.4535 16.2939 15.5804 16.0751C14.7074 15.8564 13.8264 15.747 12.9375 15.747C12.0486 15.747 11.1676 15.8564 10.2946 16.0751C9.42151 16.2939 8.56498 16.6156 7.72499 17.0402C7.52873 17.1493 7.37342 17.2901 7.25906 17.4626C7.14467 17.6351 7.08748 17.8228 7.08748 18.0255V18.749ZM12.9375 11.1286C13.4738 11.1286 13.9328 10.9327 14.3147 10.5407C14.6966 10.1488 14.8875 9.67766 14.8875 9.1273C14.8875 8.57693 14.6966 8.10579 14.3147 7.71386C13.9328 7.32193 13.4738 7.12597 12.9375 7.12597C12.4012 7.12597 11.9422 7.32193 11.5603 7.71386C11.1784 8.10579 10.9875 8.57693 10.9875 9.1273C10.9875 9.67766 11.1784 10.1488 11.5603 10.5407C11.9422 10.9327 12.4012 11.1286 12.9375 11.1286Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_10_315'%3E%3Crect width='27' height='27' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    margin-right: 16px;
}
.header .tnb .lang {
    margin-top: 5px;
    width: 17px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 17C7.33454 17 6.23477 16.7766 5.20067 16.3298C4.16656 15.883 3.26465 15.2748 2.49494 14.5051C1.72524 13.7353 1.11699 12.8334 0.670204 11.7993C0.223401 10.7652 0 9.66546 0 8.5C0 7.32537 0.223401 6.2233 0.670204 5.19378C1.11699 4.16427 1.72524 3.26465 2.49494 2.49494C3.26465 1.72524 4.16656 1.11699 5.20067 0.670205C6.23477 0.223402 7.33454 0 8.5 0C9.67463 0 10.7767 0.223402 11.8062 0.670205C12.8357 1.11699 13.7353 1.72524 14.5051 2.49494C15.2748 3.26465 15.883 4.16427 16.3298 5.19378C16.7766 6.2233 17 7.32537 17 8.5C17 9.66546 16.7766 10.7652 16.3298 11.7993C15.883 12.8334 15.2748 13.7353 14.5051 14.5051C13.7353 15.2748 12.8357 15.883 11.8062 16.3298C10.7767 16.7766 9.67463 17 8.5 17ZM8.5 15.639C8.95655 15.0333 9.34084 14.4225 9.65285 13.8065C9.96486 13.1905 10.2189 12.5171 10.4151 11.7864H6.5849C6.79252 12.5401 7.04948 13.2249 7.35576 13.8409C7.66203 14.4569 8.04344 15.0563 8.5 15.639ZM6.76734 15.3929C6.42435 14.9008 6.11635 14.3413 5.84334 13.7144C5.57032 13.0875 5.35811 12.4449 5.20669 11.7864H2.17142C2.64404 12.7156 3.27782 13.4962 4.07276 14.1283C4.86772 14.7603 5.76591 15.1819 6.76734 15.3929ZM10.2327 15.3929C11.2341 15.1819 12.1323 14.7603 12.9272 14.1283C13.7222 13.4962 14.356 12.7156 14.8286 11.7864H11.7933C11.6132 12.4506 11.3867 13.0961 11.1136 13.723C10.8406 14.3499 10.547 14.9066 10.2327 15.3929ZM1.60879 10.4444H4.93482C4.87862 10.1117 4.8379 9.78563 4.81267 9.46616C4.78744 9.14668 4.77482 8.82463 4.77482 8.5C4.77482 8.17537 4.78744 7.85332 4.81267 7.53384C4.8379 7.21437 4.87862 6.88831 4.93482 6.55564H1.60879C1.52276 6.85963 1.4568 7.17566 1.41091 7.50373C1.36503 7.8318 1.34209 8.16389 1.34209 8.5C1.34209 8.83611 1.36503 9.1682 1.41091 9.49627C1.4568 9.82434 1.52276 10.1404 1.60879 10.4444ZM6.27691 10.4444H10.7231C10.7793 10.1117 10.82 9.78849 10.8453 9.47475C10.8705 9.16103 10.8831 8.83611 10.8831 8.5C10.8831 8.16389 10.8705 7.83897 10.8453 7.52525C10.82 7.21151 10.7793 6.88831 10.7231 6.55564H6.27691C6.2207 6.88831 6.17998 7.21151 6.15473 7.52525C6.1295 7.83897 6.11688 8.16389 6.11688 8.5C6.11688 8.83611 6.1295 9.16103 6.15473 9.47475C6.17998 9.78849 6.2207 10.1117 6.27691 10.4444ZM12.0652 10.4444H15.3912C15.4772 10.1404 15.5432 9.82434 15.5891 9.49627C15.635 9.1682 15.6579 8.83611 15.6579 8.5C15.6579 8.16389 15.635 7.8318 15.5891 7.50373C15.5432 7.17566 15.4772 6.85963 15.3912 6.55564H12.0652C12.1214 6.88831 12.1621 7.21437 12.1873 7.53384C12.2126 7.85332 12.2252 8.17537 12.2252 8.5C12.2252 8.82463 12.2126 9.14668 12.1873 9.46616C12.1621 9.78563 12.1214 10.1117 12.0652 10.4444ZM11.7933 5.21358H14.8286C14.3502 4.27294 13.7207 3.49232 12.9401 2.87173C12.1595 2.25116 11.257 1.82673 10.2327 1.59845C10.5756 2.11923 10.8808 2.68877 11.148 3.30707C11.4153 3.92536 11.6304 4.56087 11.7933 5.21358ZM6.5849 5.21358H10.4151C10.2075 4.46567 9.94622 3.77654 9.63133 3.14619C9.31646 2.51587 8.93935 1.9208 8.5 1.36101C8.06065 1.9208 7.68354 2.51587 7.36867 3.14619C7.05378 3.77654 6.79252 4.46567 6.5849 5.21358ZM2.17142 5.21358H5.20669C5.36958 4.56087 5.58466 3.92536 5.85195 3.30707C6.11923 2.68877 6.42435 2.11923 6.76734 1.59845C5.73724 1.82673 4.83331 2.2526 4.05556 2.87605C3.27782 3.4995 2.64978 4.27868 2.17142 5.21358Z' /%3E%3C/svg%3E%0A");
}
/* header가 상단에 고정되었을때 */
.header.fixed {
    background-color: rgba(255, 255, 255, 0.8);
    color: #1d1d1d;
    border-bottom: 0;
}
.header.fixed .logo a {
    background-image: url(../images/logo.svg);
}
.header.fixed .tnb .login {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='%23666' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_10_315)'%3E%3Cpath d='M12.9375 12.6296C11.9991 12.6296 11.1957 12.2866 10.5274 11.6008C9.85915 10.9149 9.52501 10.0904 9.52501 9.1273C9.52501 8.16416 9.85915 7.33966 10.5274 6.65381C11.1957 5.96794 11.9991 5.625 12.9375 5.625C13.8759 5.625 14.6793 5.96794 15.3476 6.65381C16.0158 7.33966 16.35 8.16416 16.35 9.1273C16.35 10.0904 16.0158 10.9149 15.3476 11.6008C14.6793 12.2866 13.8759 12.6296 12.9375 12.6296ZM5.625 18.7298V18.0255C5.625 17.5354 5.75469 17.0816 6.01407 16.664C6.27344 16.2464 6.62 15.9254 7.05375 15.7009C8.0175 15.2159 8.98969 14.8522 9.97032 14.6098C10.9509 14.3673 11.94 14.2461 12.9375 14.2461C13.935 14.2461 14.9241 14.3673 15.9047 14.6098C16.8853 14.8522 17.8575 15.2159 18.8213 15.7009C19.255 15.9254 19.6016 16.2464 19.8609 16.664C20.1203 17.0816 20.25 17.5354 20.25 18.0255V18.7298C20.25 19.1519 20.1059 19.5107 19.8178 19.8064C19.5297 20.1021 19.18 20.25 18.7688 20.25H7.10622C6.69498 20.25 6.34531 20.1021 6.05719 19.8064C5.76906 19.5107 5.625 19.1519 5.625 18.7298ZM7.08748 18.749H18.7875V18.0255C18.7875 17.8228 18.7303 17.6351 18.6159 17.4626C18.5016 17.2901 18.3463 17.1493 18.15 17.0402C17.31 16.6156 16.4535 16.2939 15.5804 16.0751C14.7074 15.8564 13.8264 15.747 12.9375 15.747C12.0486 15.747 11.1676 15.8564 10.2946 16.0751C9.42151 16.2939 8.56498 16.6156 7.72499 17.0402C7.52873 17.1493 7.37342 17.2901 7.25906 17.4626C7.14467 17.6351 7.08748 17.8228 7.08748 18.0255V18.749ZM12.9375 11.1286C13.4738 11.1286 13.9328 10.9327 14.3147 10.5407C14.6966 10.1488 14.8875 9.67766 14.8875 9.1273C14.8875 8.57693 14.6966 8.10579 14.3147 7.71386C13.9328 7.32193 13.4738 7.12597 12.9375 7.12597C12.4012 7.12597 11.9422 7.32193 11.5603 7.71386C11.1784 8.10579 10.9875 8.57693 10.9875 9.1273C10.9875 9.67766 11.1784 10.1488 11.5603 10.5407C11.9422 10.9327 12.4012 11.1286 12.9375 11.1286Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_10_315'%3E%3Crect width='27' height='27' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.header.fixed .tnb .lang {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='%23666' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 17C7.33454 17 6.23477 16.7766 5.20067 16.3298C4.16656 15.883 3.26465 15.2748 2.49494 14.5051C1.72524 13.7353 1.11699 12.8334 0.670204 11.7993C0.223401 10.7652 0 9.66546 0 8.5C0 7.32537 0.223401 6.2233 0.670204 5.19378C1.11699 4.16427 1.72524 3.26465 2.49494 2.49494C3.26465 1.72524 4.16656 1.11699 5.20067 0.670205C6.23477 0.223402 7.33454 0 8.5 0C9.67463 0 10.7767 0.223402 11.8062 0.670205C12.8357 1.11699 13.7353 1.72524 14.5051 2.49494C15.2748 3.26465 15.883 4.16427 16.3298 5.19378C16.7766 6.2233 17 7.32537 17 8.5C17 9.66546 16.7766 10.7652 16.3298 11.7993C15.883 12.8334 15.2748 13.7353 14.5051 14.5051C13.7353 15.2748 12.8357 15.883 11.8062 16.3298C10.7767 16.7766 9.67463 17 8.5 17ZM8.5 15.639C8.95655 15.0333 9.34084 14.4225 9.65285 13.8065C9.96486 13.1905 10.2189 12.5171 10.4151 11.7864H6.5849C6.79252 12.5401 7.04948 13.2249 7.35576 13.8409C7.66203 14.4569 8.04344 15.0563 8.5 15.639ZM6.76734 15.3929C6.42435 14.9008 6.11635 14.3413 5.84334 13.7144C5.57032 13.0875 5.35811 12.4449 5.20669 11.7864H2.17142C2.64404 12.7156 3.27782 13.4962 4.07276 14.1283C4.86772 14.7603 5.76591 15.1819 6.76734 15.3929ZM10.2327 15.3929C11.2341 15.1819 12.1323 14.7603 12.9272 14.1283C13.7222 13.4962 14.356 12.7156 14.8286 11.7864H11.7933C11.6132 12.4506 11.3867 13.0961 11.1136 13.723C10.8406 14.3499 10.547 14.9066 10.2327 15.3929ZM1.60879 10.4444H4.93482C4.87862 10.1117 4.8379 9.78563 4.81267 9.46616C4.78744 9.14668 4.77482 8.82463 4.77482 8.5C4.77482 8.17537 4.78744 7.85332 4.81267 7.53384C4.8379 7.21437 4.87862 6.88831 4.93482 6.55564H1.60879C1.52276 6.85963 1.4568 7.17566 1.41091 7.50373C1.36503 7.8318 1.34209 8.16389 1.34209 8.5C1.34209 8.83611 1.36503 9.1682 1.41091 9.49627C1.4568 9.82434 1.52276 10.1404 1.60879 10.4444ZM6.27691 10.4444H10.7231C10.7793 10.1117 10.82 9.78849 10.8453 9.47475C10.8705 9.16103 10.8831 8.83611 10.8831 8.5C10.8831 8.16389 10.8705 7.83897 10.8453 7.52525C10.82 7.21151 10.7793 6.88831 10.7231 6.55564H6.27691C6.2207 6.88831 6.17998 7.21151 6.15473 7.52525C6.1295 7.83897 6.11688 8.16389 6.11688 8.5C6.11688 8.83611 6.1295 9.16103 6.15473 9.47475C6.17998 9.78849 6.2207 10.1117 6.27691 10.4444ZM12.0652 10.4444H15.3912C15.4772 10.1404 15.5432 9.82434 15.5891 9.49627C15.635 9.1682 15.6579 8.83611 15.6579 8.5C15.6579 8.16389 15.635 7.8318 15.5891 7.50373C15.5432 7.17566 15.4772 6.85963 15.3912 6.55564H12.0652C12.1214 6.88831 12.1621 7.21437 12.1873 7.53384C12.2126 7.85332 12.2252 8.17537 12.2252 8.5C12.2252 8.82463 12.2126 9.14668 12.1873 9.46616C12.1621 9.78563 12.1214 10.1117 12.0652 10.4444ZM11.7933 5.21358H14.8286C14.3502 4.27294 13.7207 3.49232 12.9401 2.87173C12.1595 2.25116 11.257 1.82673 10.2327 1.59845C10.5756 2.11923 10.8808 2.68877 11.148 3.30707C11.4153 3.92536 11.6304 4.56087 11.7933 5.21358ZM6.5849 5.21358H10.4151C10.2075 4.46567 9.94622 3.77654 9.63133 3.14619C9.31646 2.51587 8.93935 1.9208 8.5 1.36101C8.06065 1.9208 7.68354 2.51587 7.36867 3.14619C7.05378 3.77654 6.79252 4.46567 6.5849 5.21358ZM2.17142 5.21358H5.20669C5.36958 4.56087 5.58466 3.92536 5.85195 3.30707C6.11923 2.68877 6.42435 2.11923 6.76734 1.59845C5.73724 1.82673 4.83331 2.2526 4.05556 2.87605C3.27782 3.4995 2.64978 4.27868 2.17142 5.21358Z' /%3E%3C/svg%3E%0A");
}
/* 메뉴에 마우스를 오버했을때 */
.header.menu_over {
    color: #1d1d1d;
}
.header.menu_over::after {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    /* 정렬의 기준안에서 가장 아래 배치 */
    width: 100%;
    height: 280px;
    background-color: #fff;
    content: "";
}
.header.menu_over::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #ededed;
    content: "";
}
.header.menu_over .logo a {
    background: url(../images/logo.svg);
}
.header.menu_over .gnb ul.depth2 { /* 2차메뉴 */
    display: block; /* 마우스 오버했을때만 나타남 */
}
.header.menu_over .tnb .login {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='%23666' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_10_315)'%3E%3Cpath d='M12.9375 12.6296C11.9991 12.6296 11.1957 12.2866 10.5274 11.6008C9.85915 10.9149 9.52501 10.0904 9.52501 9.1273C9.52501 8.16416 9.85915 7.33966 10.5274 6.65381C11.1957 5.96794 11.9991 5.625 12.9375 5.625C13.8759 5.625 14.6793 5.96794 15.3476 6.65381C16.0158 7.33966 16.35 8.16416 16.35 9.1273C16.35 10.0904 16.0158 10.9149 15.3476 11.6008C14.6793 12.2866 13.8759 12.6296 12.9375 12.6296ZM5.625 18.7298V18.0255C5.625 17.5354 5.75469 17.0816 6.01407 16.664C6.27344 16.2464 6.62 15.9254 7.05375 15.7009C8.0175 15.2159 8.98969 14.8522 9.97032 14.6098C10.9509 14.3673 11.94 14.2461 12.9375 14.2461C13.935 14.2461 14.9241 14.3673 15.9047 14.6098C16.8853 14.8522 17.8575 15.2159 18.8213 15.7009C19.255 15.9254 19.6016 16.2464 19.8609 16.664C20.1203 17.0816 20.25 17.5354 20.25 18.0255V18.7298C20.25 19.1519 20.1059 19.5107 19.8178 19.8064C19.5297 20.1021 19.18 20.25 18.7688 20.25H7.10622C6.69498 20.25 6.34531 20.1021 6.05719 19.8064C5.76906 19.5107 5.625 19.1519 5.625 18.7298ZM7.08748 18.749H18.7875V18.0255C18.7875 17.8228 18.7303 17.6351 18.6159 17.4626C18.5016 17.2901 18.3463 17.1493 18.15 17.0402C17.31 16.6156 16.4535 16.2939 15.5804 16.0751C14.7074 15.8564 13.8264 15.747 12.9375 15.747C12.0486 15.747 11.1676 15.8564 10.2946 16.0751C9.42151 16.2939 8.56498 16.6156 7.72499 17.0402C7.52873 17.1493 7.37342 17.2901 7.25906 17.4626C7.14467 17.6351 7.08748 17.8228 7.08748 18.0255V18.749ZM12.9375 11.1286C13.4738 11.1286 13.9328 10.9327 14.3147 10.5407C14.6966 10.1488 14.8875 9.67766 14.8875 9.1273C14.8875 8.57693 14.6966 8.10579 14.3147 7.71386C13.9328 7.32193 13.4738 7.12597 12.9375 7.12597C12.4012 7.12597 11.9422 7.32193 11.5603 7.71386C11.1784 8.10579 10.9875 8.57693 10.9875 9.1273C10.9875 9.67766 11.1784 10.1488 11.5603 10.5407C11.9422 10.9327 12.4012 11.1286 12.9375 11.1286Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_10_315'%3E%3Crect width='27' height='27' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.header.menu_over .tnb .lang {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='%23666' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 17C7.33454 17 6.23477 16.7766 5.20067 16.3298C4.16656 15.883 3.26465 15.2748 2.49494 14.5051C1.72524 13.7353 1.11699 12.8334 0.670204 11.7993C0.223401 10.7652 0 9.66546 0 8.5C0 7.32537 0.223401 6.2233 0.670204 5.19378C1.11699 4.16427 1.72524 3.26465 2.49494 2.49494C3.26465 1.72524 4.16656 1.11699 5.20067 0.670205C6.23477 0.223402 7.33454 0 8.5 0C9.67463 0 10.7767 0.223402 11.8062 0.670205C12.8357 1.11699 13.7353 1.72524 14.5051 2.49494C15.2748 3.26465 15.883 4.16427 16.3298 5.19378C16.7766 6.2233 17 7.32537 17 8.5C17 9.66546 16.7766 10.7652 16.3298 11.7993C15.883 12.8334 15.2748 13.7353 14.5051 14.5051C13.7353 15.2748 12.8357 15.883 11.8062 16.3298C10.7767 16.7766 9.67463 17 8.5 17ZM8.5 15.639C8.95655 15.0333 9.34084 14.4225 9.65285 13.8065C9.96486 13.1905 10.2189 12.5171 10.4151 11.7864H6.5849C6.79252 12.5401 7.04948 13.2249 7.35576 13.8409C7.66203 14.4569 8.04344 15.0563 8.5 15.639ZM6.76734 15.3929C6.42435 14.9008 6.11635 14.3413 5.84334 13.7144C5.57032 13.0875 5.35811 12.4449 5.20669 11.7864H2.17142C2.64404 12.7156 3.27782 13.4962 4.07276 14.1283C4.86772 14.7603 5.76591 15.1819 6.76734 15.3929ZM10.2327 15.3929C11.2341 15.1819 12.1323 14.7603 12.9272 14.1283C13.7222 13.4962 14.356 12.7156 14.8286 11.7864H11.7933C11.6132 12.4506 11.3867 13.0961 11.1136 13.723C10.8406 14.3499 10.547 14.9066 10.2327 15.3929ZM1.60879 10.4444H4.93482C4.87862 10.1117 4.8379 9.78563 4.81267 9.46616C4.78744 9.14668 4.77482 8.82463 4.77482 8.5C4.77482 8.17537 4.78744 7.85332 4.81267 7.53384C4.8379 7.21437 4.87862 6.88831 4.93482 6.55564H1.60879C1.52276 6.85963 1.4568 7.17566 1.41091 7.50373C1.36503 7.8318 1.34209 8.16389 1.34209 8.5C1.34209 8.83611 1.36503 9.1682 1.41091 9.49627C1.4568 9.82434 1.52276 10.1404 1.60879 10.4444ZM6.27691 10.4444H10.7231C10.7793 10.1117 10.82 9.78849 10.8453 9.47475C10.8705 9.16103 10.8831 8.83611 10.8831 8.5C10.8831 8.16389 10.8705 7.83897 10.8453 7.52525C10.82 7.21151 10.7793 6.88831 10.7231 6.55564H6.27691C6.2207 6.88831 6.17998 7.21151 6.15473 7.52525C6.1295 7.83897 6.11688 8.16389 6.11688 8.5C6.11688 8.83611 6.1295 9.16103 6.15473 9.47475C6.17998 9.78849 6.2207 10.1117 6.27691 10.4444ZM12.0652 10.4444H15.3912C15.4772 10.1404 15.5432 9.82434 15.5891 9.49627C15.635 9.1682 15.6579 8.83611 15.6579 8.5C15.6579 8.16389 15.635 7.8318 15.5891 7.50373C15.5432 7.17566 15.4772 6.85963 15.3912 6.55564H12.0652C12.1214 6.88831 12.1621 7.21437 12.1873 7.53384C12.2126 7.85332 12.2252 8.17537 12.2252 8.5C12.2252 8.82463 12.2126 9.14668 12.1873 9.46616C12.1621 9.78563 12.1214 10.1117 12.0652 10.4444ZM11.7933 5.21358H14.8286C14.3502 4.27294 13.7207 3.49232 12.9401 2.87173C12.1595 2.25116 11.257 1.82673 10.2327 1.59845C10.5756 2.11923 10.8808 2.68877 11.148 3.30707C11.4153 3.92536 11.6304 4.56087 11.7933 5.21358ZM6.5849 5.21358H10.4151C10.2075 4.46567 9.94622 3.77654 9.63133 3.14619C9.31646 2.51587 8.93935 1.9208 8.5 1.36101C8.06065 1.9208 7.68354 2.51587 7.36867 3.14619C7.05378 3.77654 6.79252 4.46567 6.5849 5.21358ZM2.17142 5.21358H5.20669C5.36958 4.56087 5.58466 3.92536 5.85195 3.30707C6.11923 2.68877 6.42435 2.11923 6.76734 1.59845C5.73724 1.82673 4.83331 2.2526 4.05556 2.87605C3.27782 3.4995 2.64978 4.27868 2.17142 5.21358Z' /%3E%3C/svg%3E%0A");
}
@media screen and (max-width:640px){
    .header {
        height: 50px;
        border-bottom: 0;
    }
    .header .logo {
        float: left;
        margin-top: 8px;
    }
    .header .logo a {
        width: 85px;
        height: 28px; 
    }
    .header .gnb {
        float: right;
        margin-left: 0;
    }
    .header .gnb .gnb_open {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath d='M3.16667 14.25C2.94236 14.25 2.75434 14.1741 2.6026 14.0224C2.45087 13.8707 2.375 13.6826 2.375 13.4583C2.375 13.234 2.45087 13.046 2.6026 12.8943C2.75434 12.7425 2.94236 12.6667 3.16667 12.6667H15.8333C16.0576 12.6667 16.2457 12.7425 16.3974 12.8943C16.5491 13.046 16.625 13.234 16.625 13.4583C16.625 13.6826 16.5491 13.8707 16.3974 14.0224C16.2457 14.1741 16.0576 14.25 15.8333 14.25H3.16667ZM3.16667 10.2917C2.94236 10.2917 2.75434 10.2158 2.6026 10.0641C2.45087 9.91233 2.375 9.72431 2.375 9.5C2.375 9.27569 2.45087 9.08767 2.6026 8.93594C2.75434 8.7842 2.94236 8.70833 3.16667 8.70833H14.2083C14.4326 8.70833 14.6207 8.7842 14.7724 8.93594C14.9241 9.08767 15 9.27569 15 9.5C15 9.72431 14.9241 9.91233 14.7724 10.0641C14.6207 10.2158 14.4326 10.2917 14.2083 10.2917H3.16667ZM3.16667 6.33333C2.94236 6.33333 2.75434 6.25747 2.6026 6.10573C2.45087 5.95399 2.375 5.76597 2.375 5.54167C2.375 5.31736 2.45087 5.12934 2.6026 4.9776C2.75434 4.82587 2.94236 4.75 3.16667 4.75H15.8333C16.0576 4.75 16.2457 4.82587 16.3974 4.9776C16.5491 5.12934 16.625 5.31736 16.625 5.54167C16.625 5.76597 16.5491 5.95399 16.3974 6.10573C16.2457 6.25747 16.0576 6.33333 15.8333 6.33333H3.16667Z' /%3E%3C/g%3E%3C/svg%3E ");
    }
    .header .gnb .gnb_open,
    .header .gnb .gnb_close {
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 50px;
        height: 50px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 19px auto;
        font-size: 0;
        line-height: 0;
    }
    .header.fixed .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath d='M3.16667 14.25C2.94236 14.25 2.75434 14.1741 2.6026 14.0224C2.45087 13.8707 2.375 13.6826 2.375 13.4583C2.375 13.234 2.45087 13.046 2.6026 12.8943C2.75434 12.7425 2.94236 12.6667 3.16667 12.6667H15.8333C16.0576 12.6667 16.2457 12.7425 16.3974 12.8943C16.5491 13.046 16.625 13.234 16.625 13.4583C16.625 13.6826 16.5491 13.8707 16.3974 14.0224C16.2457 14.1741 16.0576 14.25 15.8333 14.25H3.16667ZM3.16667 10.2917C2.94236 10.2917 2.75434 10.2158 2.6026 10.0641C2.45087 9.91233 2.375 9.72431 2.375 9.5C2.375 9.27569 2.45087 9.08767 2.6026 8.93594C2.75434 8.7842 2.94236 8.70833 3.16667 8.70833H14.2083C14.4326 8.70833 14.6207 8.7842 14.7724 8.93594C14.9241 9.08767 15 9.27569 15 9.5C15 9.72431 14.9241 9.91233 14.7724 10.0641C14.6207 10.2158 14.4326 10.2917 14.2083 10.2917H3.16667ZM3.16667 6.33333C2.94236 6.33333 2.75434 6.25747 2.6026 6.10573C2.45087 5.95399 2.375 5.76597 2.375 5.54167C2.375 5.31736 2.45087 5.12934 2.6026 4.9776C2.75434 4.82587 2.94236 4.75 3.16667 4.75H15.8333C16.0576 4.75 16.2457 4.82587 16.3974 4.9776C16.5491 5.12934 16.625 5.31736 16.625 5.54167C16.625 5.76597 16.5491 5.95399 16.3974 6.10573C16.2457 6.25747 16.0576 6.33333 15.8333 6.33333H3.16667Z' /%3E%3C/g%3E%3C/svg%3E ");
    }
    /* 모바일에서 메뉴가 열렸을때 */
    .header.menu_open .gnb .gnb_open {
        display: none; /* 열기버튼 숨김 */
    }
    .header.menu_open .gnb .gnb_close {
        display: block; /* 닫기버튼 나타남 */
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7'%3E%3Cline y1='-1' x2='19.2569' y2='-1' transform='matrix(0.727013 0.686624 -0.842071 0.539366 0 1.77783)' stroke='%231D1D1D' stroke-width='2'/%3E%3Cpath d='M13.9648 1L1.00028 14.8462' stroke='%231D1D1D' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E ");
        background-size: 14px auto;
    }
    .header .gnb ul.depth1 { /* 1차메뉴*/
        display: none; /* 메뉴는 버튼을 클릭해야 보임 */
    }
    .header .gnb ul.depth1 > li {
        width: 124px;
        text-align: center;
    }
    .header .gnb ul.depth1 > li > a {
        display: block;
        line-height: 100px;
        font-size: 20px;
        font-weight: 700;
    }
    .header .gnb ul.depth1 > li > a > span {
        position: relative; /* after 정렬의 기준 */
    }
    .header .gnb ul.depth1 > li:hover > a {
        color: #009FE3;
    }
    .header .gnb ul.depth1 > li:hover > a > span::after {
        position: absolute;
        left: 0;
        bottom: -37px;
        width: 100%;
        height: 3px;
        background-color: #009FE3;
        content: "";
    }
    .header .gnb ul.depth2 { /* 2차메뉴 */
        margin-top: 7px;
        display: none; /* 마우스 오버했을때만 나타남 */
    }
    .header .gnb ul.depth2 > li > a {
        display: block;
        font-size: 15px;
        line-height: 36px;
        color: #1d1d1d;
    }
    .header .gnb ul.depth2 > li > a:hover {
        color: #009FE3;
        font-weight: 700;
    }
    .header .tnb {
        display: none;
    }
    
    /* 메뉴에 마우스를 오버했을때 */
    .header.menu_over {
        color: #1d1d1d;
    }
    .header.menu_over::after {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        /* 정렬의 기준안에서 가장 아래 배치 */
        width: 100%;
        height: 280px;
        background-color: #fff;
        content: "";
    }
    .header.menu_over::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        background-color: #ededed;
        content: "";
    }
    .header.menu_over .logo a {
        background: url(../images/logo.svg);
    }
    .header.menu_over .gnb ul.depth2 { /* 2차메뉴 */
        display: block; /* 마우스 오버했을때만 나타남 */
    }
    .header.menu_over .tnb .login {
        background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='%23666' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_10_315)'%3E%3Cpath d='M12.9375 12.6296C11.9991 12.6296 11.1957 12.2866 10.5274 11.6008C9.85915 10.9149 9.52501 10.0904 9.52501 9.1273C9.52501 8.16416 9.85915 7.33966 10.5274 6.65381C11.1957 5.96794 11.9991 5.625 12.9375 5.625C13.8759 5.625 14.6793 5.96794 15.3476 6.65381C16.0158 7.33966 16.35 8.16416 16.35 9.1273C16.35 10.0904 16.0158 10.9149 15.3476 11.6008C14.6793 12.2866 13.8759 12.6296 12.9375 12.6296ZM5.625 18.7298V18.0255C5.625 17.5354 5.75469 17.0816 6.01407 16.664C6.27344 16.2464 6.62 15.9254 7.05375 15.7009C8.0175 15.2159 8.98969 14.8522 9.97032 14.6098C10.9509 14.3673 11.94 14.2461 12.9375 14.2461C13.935 14.2461 14.9241 14.3673 15.9047 14.6098C16.8853 14.8522 17.8575 15.2159 18.8213 15.7009C19.255 15.9254 19.6016 16.2464 19.8609 16.664C20.1203 17.0816 20.25 17.5354 20.25 18.0255V18.7298C20.25 19.1519 20.1059 19.5107 19.8178 19.8064C19.5297 20.1021 19.18 20.25 18.7688 20.25H7.10622C6.69498 20.25 6.34531 20.1021 6.05719 19.8064C5.76906 19.5107 5.625 19.1519 5.625 18.7298ZM7.08748 18.749H18.7875V18.0255C18.7875 17.8228 18.7303 17.6351 18.6159 17.4626C18.5016 17.2901 18.3463 17.1493 18.15 17.0402C17.31 16.6156 16.4535 16.2939 15.5804 16.0751C14.7074 15.8564 13.8264 15.747 12.9375 15.747C12.0486 15.747 11.1676 15.8564 10.2946 16.0751C9.42151 16.2939 8.56498 16.6156 7.72499 17.0402C7.52873 17.1493 7.37342 17.2901 7.25906 17.4626C7.14467 17.6351 7.08748 17.8228 7.08748 18.0255V18.749ZM12.9375 11.1286C13.4738 11.1286 13.9328 10.9327 14.3147 10.5407C14.6966 10.1488 14.8875 9.67766 14.8875 9.1273C14.8875 8.57693 14.6966 8.10579 14.3147 7.71386C13.9328 7.32193 13.4738 7.12597 12.9375 7.12597C12.4012 7.12597 11.9422 7.32193 11.5603 7.71386C11.1784 8.10579 10.9875 8.57693 10.9875 9.1273C10.9875 9.67766 11.1784 10.1488 11.5603 10.5407C11.9422 10.9327 12.4012 11.1286 12.9375 11.1286Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_10_315'%3E%3Crect width='27' height='27' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    .header.menu_over .tnb .lang {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='%23666' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 17C7.33454 17 6.23477 16.7766 5.20067 16.3298C4.16656 15.883 3.26465 15.2748 2.49494 14.5051C1.72524 13.7353 1.11699 12.8334 0.670204 11.7993C0.223401 10.7652 0 9.66546 0 8.5C0 7.32537 0.223401 6.2233 0.670204 5.19378C1.11699 4.16427 1.72524 3.26465 2.49494 2.49494C3.26465 1.72524 4.16656 1.11699 5.20067 0.670205C6.23477 0.223402 7.33454 0 8.5 0C9.67463 0 10.7767 0.223402 11.8062 0.670205C12.8357 1.11699 13.7353 1.72524 14.5051 2.49494C15.2748 3.26465 15.883 4.16427 16.3298 5.19378C16.7766 6.2233 17 7.32537 17 8.5C17 9.66546 16.7766 10.7652 16.3298 11.7993C15.883 12.8334 15.2748 13.7353 14.5051 14.5051C13.7353 15.2748 12.8357 15.883 11.8062 16.3298C10.7767 16.7766 9.67463 17 8.5 17ZM8.5 15.639C8.95655 15.0333 9.34084 14.4225 9.65285 13.8065C9.96486 13.1905 10.2189 12.5171 10.4151 11.7864H6.5849C6.79252 12.5401 7.04948 13.2249 7.35576 13.8409C7.66203 14.4569 8.04344 15.0563 8.5 15.639ZM6.76734 15.3929C6.42435 14.9008 6.11635 14.3413 5.84334 13.7144C5.57032 13.0875 5.35811 12.4449 5.20669 11.7864H2.17142C2.64404 12.7156 3.27782 13.4962 4.07276 14.1283C4.86772 14.7603 5.76591 15.1819 6.76734 15.3929ZM10.2327 15.3929C11.2341 15.1819 12.1323 14.7603 12.9272 14.1283C13.7222 13.4962 14.356 12.7156 14.8286 11.7864H11.7933C11.6132 12.4506 11.3867 13.0961 11.1136 13.723C10.8406 14.3499 10.547 14.9066 10.2327 15.3929ZM1.60879 10.4444H4.93482C4.87862 10.1117 4.8379 9.78563 4.81267 9.46616C4.78744 9.14668 4.77482 8.82463 4.77482 8.5C4.77482 8.17537 4.78744 7.85332 4.81267 7.53384C4.8379 7.21437 4.87862 6.88831 4.93482 6.55564H1.60879C1.52276 6.85963 1.4568 7.17566 1.41091 7.50373C1.36503 7.8318 1.34209 8.16389 1.34209 8.5C1.34209 8.83611 1.36503 9.1682 1.41091 9.49627C1.4568 9.82434 1.52276 10.1404 1.60879 10.4444ZM6.27691 10.4444H10.7231C10.7793 10.1117 10.82 9.78849 10.8453 9.47475C10.8705 9.16103 10.8831 8.83611 10.8831 8.5C10.8831 8.16389 10.8705 7.83897 10.8453 7.52525C10.82 7.21151 10.7793 6.88831 10.7231 6.55564H6.27691C6.2207 6.88831 6.17998 7.21151 6.15473 7.52525C6.1295 7.83897 6.11688 8.16389 6.11688 8.5C6.11688 8.83611 6.1295 9.16103 6.15473 9.47475C6.17998 9.78849 6.2207 10.1117 6.27691 10.4444ZM12.0652 10.4444H15.3912C15.4772 10.1404 15.5432 9.82434 15.5891 9.49627C15.635 9.1682 15.6579 8.83611 15.6579 8.5C15.6579 8.16389 15.635 7.8318 15.5891 7.50373C15.5432 7.17566 15.4772 6.85963 15.3912 6.55564H12.0652C12.1214 6.88831 12.1621 7.21437 12.1873 7.53384C12.2126 7.85332 12.2252 8.17537 12.2252 8.5C12.2252 8.82463 12.2126 9.14668 12.1873 9.46616C12.1621 9.78563 12.1214 10.1117 12.0652 10.4444ZM11.7933 5.21358H14.8286C14.3502 4.27294 13.7207 3.49232 12.9401 2.87173C12.1595 2.25116 11.257 1.82673 10.2327 1.59845C10.5756 2.11923 10.8808 2.68877 11.148 3.30707C11.4153 3.92536 11.6304 4.56087 11.7933 5.21358ZM6.5849 5.21358H10.4151C10.2075 4.46567 9.94622 3.77654 9.63133 3.14619C9.31646 2.51587 8.93935 1.9208 8.5 1.36101C8.06065 1.9208 7.68354 2.51587 7.36867 3.14619C7.05378 3.77654 6.79252 4.46567 6.5849 5.21358ZM2.17142 5.21358H5.20669C5.36958 4.56087 5.58466 3.92536 5.85195 3.30707C6.11923 2.68877 6.42435 2.11923 6.76734 1.59845C5.73724 1.82673 4.83331 2.2526 4.05556 2.87605C3.27782 3.4995 2.64978 4.27868 2.17142 5.21358Z' /%3E%3C/svg%3E%0A");
    }
} /* media */

.visual {
    /* background 사이즈 조절
       cover는 영역에 이미지가 꽉차게 - 이미지 일부가 짤리고 배경은 꽉참 - 배경에 이미지
       contain 영역에 이미지가 꽉차게 - 이미지가 안짤리고 배경이 일부가 빔 - 배경에 로고가 들어간 경우 */
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
    text-align: center;
    position: relative; /* inner의 정렬의 기준 */
}
.visual .inner {
    display: flex;
    flex-direction: column; /* 세로배치 */
    justify-content: center; /* 세로에서 가운데 */
    height: 100vh; /* 브라우저 높이와 동일한 높이 */
    min-height: 600px;
    /* 내부에 콘텐츠가 짤리지 않을 정도의 최소 높이값을 줘야함 */
}
/* visual의 높이가 브라우저의 높이에 따라서 바뀜
   그래서 h2태그가 위에서 부터의 여백이 그때그때 달라짐
   --> 고정값으로 줄 수가 없음
   사이즈가 변경될때 가운데는 바뀌지 않음
   h2태그는 원래 디자인 자체가 visual영역에 위아래 가운데 디자인
   코딩도 위아래 가운데에서 부터 시작해서 여백을 줘야함 */
.visual h2 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: -43px;
}
.visual p {
    margin-top: 21px;
    font-size: 20px;
}
@media screen and (max-width:640px){
    .visual {
       
    }
    .visual .inner {
        height: 300px;
        min-height: auto;
    }
    .visual h2 {
        font-size: 25px;
        margin-top: 0;
    }
    .visual p {
        display: none; /* 숨김 */
    }
} /* media */

.servirce {
    margin-top: 66px;
}
.servirce h2 {
    display: none; /* 웹표준상 제목을 썼지만 디자인에 없는 요소라 숨김 */
}
.servirce ul {
    display: flex;
}
.servirce ul li {
    width: 16.66%;
    /* li가 6개라서 100/6 = 16.66 나눈값 */
    text-align: center;
}
.servirce ul li a {
    padding-top: 60px; /* 아이콘이 들어갈 자리 */
    color: #1d1d1d;
    font-weight: 700;
    display: inline-block;
    position: relative; /* before 정렬 기준 */
    word-break: normal; /* 한줄짜리 줄바꿈 */
}
.servirce ul li a:before {
    position: absolute; /* a를 기준으로 정렬 */
    left: calc(50% - 28px);
    top: 0;
    content: "";
    width: 57px;
    height: 60px;
}
.servirce ul li.servirce01 a:before {
    background: url(../images/service01.svg) no-repeat center center;
}
.servirce ul li.servirce02 a:before {
    background: url(../images/service02.svg) no-repeat center center;
}
.servirce ul li.servirce03 a:before {
    background: url(../images/service03.svg) no-repeat center center;
}
.servirce ul li.servirce04 a:before {
    background: url(../images/service04.svg) no-repeat center center;
}
.servirce ul li.servirce05 a:before {
    background: url(../images/service05.svg) no-repeat center center;
}
.servirce ul li.servirce06 a:before {
    background: url(../images/service06.svg) no-repeat center center;
}
@media screen and (max-width:640px){
    .servirce {
        margin-top: 48px;
    }
    .servirce ul {
        flex-wrap: wrap; /* 두줄 허용 */
    }
    .servirce ul li {
        width: 33.33%;
        margin-bottom: 28px;
    }
    .servirce ul li a {
        padding-top: 40px; /* 아이콘이 들어갈 자리 */
    }
    .servirce ul li a span {
        display: none;
    }
    .servirce ul li a:before {
        background-size: 42px auto;
        position: absolute; /* a를 기준으로 정렬 */
        left: calc(50% - 21px);
        top: 0;
        content: "";
        width: 42px;
        height: 40px;
    }
    .servirce ul li.servirce01 a:before {
        background-size: 39.35px auto;
    }
    .servirce ul li.servirce02 a:before {
        background-size: 19px auto;
    }
    .servirce ul li.servirce03 a:before {
        background-size: 41.43px auto;
    }
    .servirce ul li.servirce04 a:before {
        background-size: 32.04px auto;
    }
    .servirce ul li.servirce05 a:before {
        background-size: 30.43px auto;
    }
    .servirce ul li.servirce06 a:before {
        background-size: 30.19px auto;
    }
} /* media */

.biz {
    margin: 73px 0 0 0;
}
.biz h2 {
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 9px;
}
.biz ul {
    display: flex;
    justify-content: space-between;
}
.biz ul li a {
    /* a에 사이즈를 주면 li는 a사이즈와 돌일 */
    width: 299px;
    height: 287px;
    display: block;
    color: #fff;
    border-radius: 20px;
    padding: 37px 48px 0 40px;
    /* 높이를 준 경우는 왼쪽 오른쪽 위의 여백만 줌 하단의 여백은 안줘도 됨.
       어차피 높이를 고정으로 줘서 여백이 발생함
       오히려 하단 여백을 주면 글자가 늘어날 경우 높이가 바뀔 가능성이 있음 */
    position: relative; /* more정렬의 기준 */
}
.biz ul li.biz01 a {
    background-color: #478BA2;
}
.biz ul li.biz02 a {
    background-color: #49BCF5;
}
.biz ul li.biz03 a {
    background-color: #E9765B;
}
.biz ul li.biz04 a {
    background-color: #FEA51F;
}
.biz ul li a::after {
    position: absolute; /* a를 기준으로 정렬 */
    right: 0;
    bottom: 0;
    content: ""; /* berfore/after 선택자가 보이게하는 값 */
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto;
    /* after 선택자에 준 넓이에 딱 맞게 배경이미지 사이즈 조정 (높이는 비율에 맞게 조정) */
    /* opacitu: 0.1px */
}
.biz ul li.biz01 a::after {
    right: 40px;
    bottom: 32px;
    width: 73px;
    height: 73px;
    background-image: url(../images/biz_01.png);
}
.biz ul li.biz02 a::after {
    right: 40px;
    bottom: 22px;
    width: 87px;
    height: 87px;
    background-image: url(../images/biz_02.png);
}
.biz ul li.biz03 a::after {
    right: 20px;
    bottom: 14px;
    width: 141px;
    height: 106px;
    background-image: url(../images/biz_03.png);
}
.biz ul li.biz04 a::after {
    right: 40px;
    bottom: 32px;
    width: 75px;
    height: 75px;
    background-image: url(../images/biz_04.png);
}
.biz ul li a h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}
.biz ul li a p {
    color: rgba(255, 255, 255, 0.8);
}

/* 위에 배치된 h3/p 문장의 길이가 길거나 짧아도 디자인 동일한 위치에 배치되어야함
   상단여백으로 배치 x
   position:absolute로 배치해야됨 
   (위 콘텐츠가 5줄이거나 4줄이여도 같은 위치에 배치되어야 하므로) */
.biz ul li a .more {
    position: absolute; /* a를 기준으로 정렬 */
    left: 40px;
    bottom: 35px;
    color: rgba(255, 255, 255, 0.8);
    padding-right: 20px;
}
.biz ul li a .more::after {
    position: absolute; /* more를 기준으로 정렬 */
    right: 0;
    top: 3px;
    width: 16px; /* 아이콘사이즈 */
    height: 16px;
    background: url(../images/biz_more.svg) no-repeat center center;
    content: "";
}
@media screen and (max-width:640px){
    .biz {
        margin: 21px 0 0 0;
    }
    .biz h2 {
        font-size: 20px;
        margin-bottom: 4px;
    }
    .biz ul {
        display: block;
    }
    .biz ul li {
        margin-bottom: 4px;
    }
    .biz ul li a {
        /* a에 display:block이 있기 때문에 넓이를 auto를 주면 100%가 적용됨 */
        width: auto;
        height: 124px;
        border-radius: 10px;
        padding: 17px 22px 0 20px;
        /* 높이를 준 경우는 왼쪽 오른쪽 위의 여백만 줌 하단의 여백은 안줘도 됨.
           어차피 높이를 고정으로 줘서 여백이 발생함
           오히려 하단 여백을 주면 글자가 늘어날 경우 높이가 바뀔 가능성이 있음 */
    }
    .biz ul li.biz01 a::after {
        right: 17px;
        bottom: 7px;
        width: 113px;
        height: 113px;
    }
    .biz ul li.biz02 a::after {
        right: 11px;
        bottom: -4px;
        width: 133px;
        height: 133px;
    }
    .biz ul li.biz03 a::after {
        right: -15px;
        bottom: -4px;
        width: 189px;
        height: 142px;   
    }
    .biz ul li.biz04 a::after {
        right: 17px;
        bottom: 6px;
        width: 115px;
        height: 115px;
    }
    .biz ul li a h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 23px;
    }
    .biz ul li a p {
        color: rgba(255, 255, 255, 0.8);
        display: none;
    }
    
    /* 위에 배치된 h3/p 문장의 길이가 길거나 짧아도 디자인 동일한 위치에 배치되어야함
       상단여백으로 배치 x
       position:absolute로 배치해야됨 
       (위 콘텐츠가 5줄이거나 4줄이여도 같은 위치에 배치되어야 하므로) */
    .biz ul li a .more {
        position: relative; /* a를 기준으로 정렬 */
        left: auto;
        bottom: auto;
        color: rgba(255, 255, 255, 0.8);
        padding-right: 10px;
    }
    .biz ul li a .more::after {
        top: 7px;
        width: 5.42px; /* 아이콘사이즈 */
        height: 5.42px;
        background: url(../images/biz_more.svg) no-repeat center center;
        content: "";
        opacity: 0.8;
    }
} /* media*/

.news {
    margin-top: 96px;
}
.news h2 {
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.news ul li {
    border: 1px solid #ededed;
    margin-bottom: 4px;
}
.news ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 44px;
    /* 공지사항에 행간을 높이값으로 주면 높이도 들어가고 글자도 높이에 중간에 배치됨 */
    padding: 0 50px;
}
.news ul li a em {
    font-weight: 700;
    color: rgba(61, 61, 61, 0.8);
    line-height: 31px;
    /* background 색상이 들어갈만큼 */
    padding: 0 27px;
}
.news ul li.notice1 a em {
    background-color: #61BDAB;
    border-radius: 15px;
}
.news ul li.notice2 a em {
    background-color: #AAD4C8;
    border-radius: 15px;
}
.news ul li a strong {
    width: 910px;
    /* 글자가 들어갈 수 있는 최대 넓이 지정
    날짜는 자리수가 딱 정해져 있음
    왼쪽에 장학공지/일반공지도 자리수가 정해져있음
    하지만 제목은 입력한 대로 갈수도 있고 짧을수도 있음
    그래서 글자가 들어갈 수 있는 최대 넓이를 제한
    그 넓이를 넘어가면 제목을 잘라버리기 위해서 */
    color: rgba(61, 61, 61, 0.8);
    white-space: nowrap; /* 줄바꿈 금지*/
    overflow: hidden; /* 영역에서 넘치는 글자 숨김 */
    text-overflow: ellipsis;
    /* 글자 끝에 ... 추가
       글자가 반이 짤려며 나타날수 있기 때문에 이 현상을 막고 ...을 추가하는 방법
       점 3개를 2개로 변경 불가. 점 삭제 불가 */
}
.news .inner {
    position: relative; /* more 정렬의 기준 */
}
.news .more {
    position: absolute;
    right: 0;
    top: 0;
}
.news .more a {
    border: 1px solid rgba(61, 61, 61, 0.8);
    border-radius: 100px;
    padding: 6px 32px 6px 20px;
    display: block;
    position: relative;
}
.news .more a::after {
    position: absolute;
    right: 15px;
    top: 9px;
    width: 16px;
    height: 16px;
    background: url(../images/news_more.svg) no-repeat center center / 100% auto;
    /* pc와 모바일에서 아이콘 사이즈가 변경된다면 background-size를 미리 지정하는게 좋음
       contain은 영역에 아이콘이 짤리지 않고 꽉차게 나오는 명령 */
    content: "";
}
@media screen and (max-width:640px){
    .news {
        margin-top: 50px;
    }
    .news h2 {
        font-size: 20px;
        margin-bottom: 4px;
    }
    .news ul li {
        border: 1px solid #ededed;
        margin-bottom: 4px;
    }
    .news ul li a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 26px;
        /* 공지사항에 행간을 높이값으로 주면 높이도 들어가고 글자도 높이에 중간에 배치됨 */
        padding: 0 10px;
    }
    .news ul li a em {
        display: none;
    }
    .news ul li a strong {
        width: calc(100% - 12px);
        /* 모바일에서는 제목의 넓이가 디바이스의 넓이에 따라 바뀜
           그래서 오른쪽 날짜와 여백값을 100%에서 빼줌
           (날짜와 여백은 고정값이니까) */
    }
    .news .more {
        position: relative;
        right: auto;
        top: auto;
        margin-top: 16px;
        text-align: center;
    }
    .news .more a {
        padding: 5px 29px 5px 18px;
        display: block;
        display: inline-block;
    }
    .news .more a::after {
        right: 13px;
        top: 8px;
        width: 12px;
        height: 12px;
    }
} /* media */

.webzine {
    /* background 때문에 여백을 padding으로 줌
       padding은 내부여백이라 background가 padding영역까지 배치가능 */
    padding: 95px 0 141px 0;
    background: url(../images/webzine_bg.svg) no-repeat center top 59px / cover;
}
.webzine .inner {
    /* tit과 ul을 나란히 배치하기 위해 */
    display: flex;
    justify-content: space-between;
    /* more 정렬의 기준 */
    position: relative;
}
.webzine .tit h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 4px;
}
.webzine .tit strong {
    color: #fff;
}
.webzine ul {
    display: flex;
    /* justify-content: space-between; 적용되지 않음
       ul은 감싸는 요소가 display:flex를 줬기 때문에 넓이가 100% 아님
       그래서 justify-content로 사이에 여백을 주려고 해도 줄 여백이 없음 (넓이가 없어서)
       li한테 사이에 여백을 줘야함 */
}
.webzine ul li {
    width: 299px;
    margin-left: 28px;
}
.webzine ul li a {
    background-color: #fff;
    display: block;
    border-radius: 30px;
    overflow: hidden;
    /* a안에 있는 이미지는 border-radius 영역 밖으로 나옴
    해결방법 1. 이미지에 border-radius를 또 주는 방법
    해결방법 2. overflow:hidden;으로 border-radius 밖으로 나온 이미지 숨기기 */
    box-shadow: 2px 4px 4px rgba(0,0,0,0.1);
}
.webzine ul li a strong {
    font-weight: 700;
    padding: 10px 18px 17px 23px;
    display: block;
    /* 제목 1줄로 자르기 */
    white-space: nowrap; /* 줄바꿈 금지*/
    overflow: hidden; /* 영역 밖에 나간 글자 숨기기 */
    text-overflow: ellipsis; /* 글자가 반 잘리는 현상 막기 */
}
.webzine .more {
    position: absolute; /* inner가 정렬의 기준 */
    left: 0;
    top: 74px;
    color: #fff;
    margin-top: 16px;
}
.webzine .more a {
    display: block;
    padding: 4px 35px 9px 21px;
    position: relative; /* after 기준 정렬 */
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 100px;
}
.webzine .more a::after {
    position: absolute;
    right: 15px;
    top: 9px;
    width: 16px;
    height: 16px;
    background: url(../images/webzine_more.svg) no-repeat center center / 100% auto;
    /* pc와 모바일에서 아이콘 사이즈가 변경된다면 background-size를 미리 지정하는게 좋음
       contain은 영역에 아이콘이 짤리지 않고 꽉차게 나오는 명령 */
    content: "";
}
@media screen and (max-width:640px){
    .webzine {
        padding: 55px 0 64px 0;
        background-position: center top 88px;
        background-size: cover; /* 넓이가 고정이 아니라 반드시 cover */
    }
    .webzine .inner {
        /* tit과 ul을 나란히 배치하기 위해 */
        display: block;
    }
    .webzine .tit {
        display: flex;
        align-items: flex-end; /* 좌우요소 하단 정렬*/
    }
    .webzine .tit h2 {
        color: #1d1d1d;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0;
        margin-right: 13px;
    }
    .webzine .tit strong {
        color: #1d1d1d;
    }
    .webzine ul {
        margin-top: 4px;
        justify-content: space-between;
    }
    .webzine ul li {
        /* 100% 나누기 li 수 = 50%
           사이 여백의 합 16px 나누기 li 수 = 8px */
        width: calc(50% - 8px);
        margin-left: 0;
    }
    /* 원래 3개의 li가 있는데 모바일에서는 2개만 보임
       마지막 li를 숨김 */
    .webzine ul li:last-child {
        display: none;
    }
    .webzine ul li a {
        border-radius: 15px;
    }
    .webzine ul li a img {
        width: 100%;
        /* 감싸는 요소의 넓이에 맞게 사이즈가 조절
           이미지는 넓이만 주면 대부분 높이는 비율에 맞게 들어감 */
    }
    .webzine ul li a strong {
        font-weight: 400;
        padding: 0 8px 4px 7px;
    }
    .webzine .more {
        position: relative;
        left: auto;
        top: auto;
        text-align: center;
        margin-top: 16px;
    }
    .webzine .more a {
        display: inline-block;
        padding: 5px 27px 5px 18px;
    }
    .webzine .more a::after {
        right: 11px;
        top: 8px;
        width: 12px;
        height: 12px;
        background: url(../images/webzine_more.svg) no-repeat center center / 100% auto;
        /* pc와 모바일에서 아이콘 사이즈가 변경된다면 background-size를 미리 지정하는게 좋음
           contain은 영역에 아이콘이 짤리지 않고 꽉차게 나오는 명령 */
    }
} /* media */

.footer {
    background-color: #009FE3;
    color: #fff;
    padding: 0 0 149px 0;
    /* footer 모바일에서 높이가 계속 바뀜
       그래서 처음부터 높이를 안줌
       위아래 여백 padding으로 줌 */
}
.footer .f_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* 하단의 기준으로 위아래 정렬 */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 31px; /* 선과 콘텐츠 사이 여백 */
}
.footer .f_top .f_logo strong {
    display: block; /* 하단 요소와 줄 바꿈 */
    font-size: 50px;
    font-weight: 700;
}
.footer .f_top .f_logo span {
    display: block; /* 상단 요소와 줄 바꿈 */
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
}
.footer .f_top .f_nav ul {
    display: flex;
}
.footer .f_top .f_nav ul li {
    margin-right: 34px;
    /* 모바일에서는 꼭 오른쪽에 여백이 들어가야함
       두줄로 바뀔때 오른쪽에 여백이 있어야 왼쪽 정렬이 잘됨 */
    opacity: 0.8;
    position: relative;
}
.footer .f_top .f_nav ul li.privacy {
    font-weight: 700;
    opacity: 1;
}
.footer .f_top .f_nav ul li:last-child {
    margin-right: 0;
    /* 마지막 li의 오른쪽 여백 삭제 */
}
.footer .f_top .f_nav ul li:after {
    position: absolute;
    right: -17px;
    top: 10px;
    width: 2px;
    height: 2px;
    border-radius: 100%; /* 최대한 둥글게 */
    background-color: rgba(255, 255, 255, 0.5);
    content: ""; /*  */
}
.footer .f_top .f_nav ul li:last-child:after {
    display: none;
    /* 마지막li의 after는 숨김처리 */
}
.footer .f_btm {
    margin-top: 15px;
}
.footer .f_btm .f_info span {
    margin-right: 33px;
}
.footer .f_btm .f_info strong {
    font-weight: 700;
}
.footer .f_btm .copyright {
    margin-top: 41px;
    color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width:640px){
    .footer .f_top {
        display: block;
        padding-bottom: 11px; /* 선과 콘텐츠 사이 여백 */
    }
    .footer .f_top .f_logo strong {
        font-size: 30px;  
    }
    .footer .f_top .f_logo span {
        font-size: 17px;
    }
    .footer .f_top .f_nav {
        margin-top: 33px;
    }
    .footer .f_top .f_nav ul {
        flex-wrap: wrap; /* 줄바꿈 허용*/
    }
    .footer .f_top .f_nav ul li {
        margin-right: 29px;
    }
    .footer .f_top .f_nav ul li:after {
        right: -17px;
        top: 10px;
    }
    .footer .f_btm {
        margin-top: 9px;
    }
    .footer .f_btm .f_info span {
        margin-right: 28px;
    }
    .footer .f_btm .copyright {
        margin-top: 24px;
    }
} /* media */