/***********************************************************
   파일명 : layout.css
   작성자 : 유선호
   작성일 : 2024.02.28
   속  성 : 모든 페이지의 레이아웃 요소 (header/footer/서브레이아웃)
            메뉴명, sub_visual 이미지스타일, 탭메뉴
************************************************************/

header {
   position: fixed; /* 상단에 고정 */
   left: 0;
   top: 0;
   z-index: 100;
   width: 100%;
   background-color: #f1f1de;
   border-bottom: 1px solid rgba(146, 87, 58, 0.3);
   transition: transform 0.5s; /* transform 0.5s 해당속성만 애니메이션 */
}
header .head_top {
   height: 80px;
}
header .head_sub {
   height: 70px;
}
header .logo {
   position: absolute; /* header */
   left: 50%;
   top: 23px;
   transform: translate(-50%, 0);
   /* 가운데 정렬을 absolute로 해야하고 넓이가 변경될 수도 있음
      left: calc(50% - 넓이반) 으로 가운데정렬을 하면 넓이가 변경되면 계속 값을 변경해야함 
      넓이가 변경되더라도 계속 가운데
      left: 50% - 나의 정렬의 기준에서 가운데
      transform: translate(-50%, 0) - 나 자신 사이즈의 절반을 왼쪽으로 이동 */
}
header .logo a {
   display: block;
   width: 80px;
   height: 56px;
   background: url(../images/common/logo.png) no-repeat center center / contain;
   font-size: 0;
   line-height: 0;
}
header .tnb1 {
   float: left;
   margin: 19px 0 0 237px;
}
header .tnb2 {
   float: right;
   margin: 19px 237px 0 0;
}
header .tnb1 ul,
header .tnb2 ul {
   display: flex;
}
header .tnb1 ul li,
header .tnb2 ul li {
   margin-right: 38px;
   position: relative; /* after */
   font-size: 1.2rem;
}
header .tnb1 ul li:last-child,
header .tnb2 ul li:last-child {
   margin-right: 0;
}
header .tnb1 ul li::after,
header .tnb2 ul li::after {
   position: absolute; /* li */
   right: -20px;
   top: 7px;
   width: 3px;
   height: 3px;
   border-radius: 100%;
   background-color: #92573a;
   content: "";
}
header .tnb1 ul li:last-child:after,
header .tnb2 ul li:last-child:after {
   display: none;
}
header .gnb_open,
header .gnb_close {
   display: none;
}
header .gnb .depth1 {
   display: flex;
   text-align: center;
}
header .gnb .depth1 > li {
   width: 16.6%;
}
header .gnb .depth1 > li a {
   display: block;
   line-height: 70px;
   font-size: 1.333rem;
   font-weight: 700;
   white-space: nowrap; /* 무조건 한줄 */
}
header .gnb .depth2 {
   padding: 15px 0 0 0;
   /* 오버해서 나타나는 메뉴는 padding으로 줘야 out되지 않음 */
   display: none;
}
header .gnb .depth2 > li a {
   display: block;
   font-size: 1rem;
   font-weight: 300;
   line-height: 35px;
   white-space: nowrap; /* 무조건 한줄 */
}
@media screen and (max-width:1640px){
   header .tnb1 {
      margin-left: 0;
   }
   header .tnb2 {
      margin-right: 0;
   }
}
@media screen and (min-width:1025px){ /* 1025px 이상 */
   /* 메뉴 오버 */
   header.menu_over::before {
      position: absolute; /* header (fixed) */
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 404px;
      background-color: #f1f1de;
      content: ""; /* before, after한테 줌 */
   }
   header.menu_over::after {
      position: absolute;
      left: 0;
      top: 150px;
      width: 100%;
      height: 1px;
      background-color: rgba(146, 87, 58, 0.3);
      content: "";
   }
   header.menu_over .gnb .depth2 {
      display: block;
   }
   header .gnb .depth1 > li.on > a {
      color: #e80a4d;
   }
   header .gnb .depth1 > li.on > a span {
      position: relative;
   }
   header .gnb .depth1 > li.on > a span::after {
      position: absolute;
      left: -5px;
      bottom: -26px;
      z-index: 1;
      width: calc(100% + 10px);
      height: 3px;
      background-color: #e80a4d;
      content: "";
   }
   header .gnb .depth2 > li > a:hover {
      color: #e80a4d;
      font-weight: 700;
   }
   /* 메뉴 고정 */
   header.fixed {
      height: 100px;
   }
   header.fixed .head_top {
      height: auto;
   }
   header.fixed .head_sub {
      height: auto;
   }
   header.fixed .tnb1,
   header.fixed .tnb2 {
      display: none;
   }
   header.fixed .wrapper {
      display: flex;
      justify-content: space-between;
      width: auto;
   }
   header.fixed .logo {
      left: 20px;
      top: 20px;
      transform: translate(0, 0);
   }
   header.fixed .gnb .depth1 {
      justify-content: flex-end;
      margin-left: 100px; /* 왼쪽에 로고가 들어갈 만큼 여백 */
   }
   header.fixed .gnb .depth1 > li {
      width: 225px;
   }
   header.fixed .gnb .depth1 > li > a {
      line-height: 100px;
      font-size: 1.1rem;
   }
   header.fixed .gnb .depth2 > li > a {
      font-size: 1rem;
   }
   header.fixed.menu_over::after {
      top: 100px;
   }
}
@media screen and (max-width:1024px){
   header {
      height: 100px;
   }
   header .head_top {
      height: auto;
   }
   header .head_sub {
      height: auto;
   }
   header .tnb1,
   header .tnb2 {
      display: none;
   }
   header .tnb2 {
      position: absolute;
      left: 20px;
      top: 55%;
      z-index: 10;
      transform: translate(0, -45%);
      margin: 0;
   }
   header .tnb2 ul li::after {
      display: none;
  }
   header .logo {
      left: 20px;
      top: 15px;
      transform: translate(0, 0);
      /* 가운데 정렬을 absolute로 해야하고 넓이가 변경될 수도 있음
         left: calc(50% - 넓이반) 으로 가운데정렬을 하면 넓이가 변경되면 계속 값을 변경해야함 
         넓이가 변경되더라도 계속 가운데
         left: 50% - 나의 정렬의 기준에서 가운데
         transform: translate(-50%, 0) - 나 자신 사이즈의 절반을 왼쪽으로 이동 */
   }
   header .gnb .gnb_wrap {
      display: none;
      position: absolute; /* header */
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: #ea983c;
   }
   header .gnb .depth1 {
      margin-top: 110px;
      height: calc(100% - 100px);
      overflow-x: hidden; /* 좌우는 스크롤 금지 */
      overflow-y: auto; /* 위아래는 스크롤 */
      flex-direction: column;
      /* display:flex를 유지하면서 아래로 정렬되도록 */
   }
   header .gnb .depth1 > li {
      width: auto;
   }
   header .gnb .depth1 > li > a {
      font-size: 1.2rem;
      line-height: 2.28rem;
      position: relative;
   }
   header .gnb .depth1 >li > a::after {
      position: absolute;
      top: 2px;
      right: 195px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M480-373.539q-7.231 0-13.461-2.308-6.231-2.308-11.846-7.923L274.924-563.539q-8.308-8.307-8.5-20.884-.193-12.577 8.5-21.269 8.692-8.692 21.076-8.692t21.076 8.692L480-442.768l162.924-162.924q8.307-8.307 20.884-8.5 12.576-.192 21.268 8.5 8.693 8.692 8.693 21.077 0 12.384-8.693 21.076L505.307-383.77q-5.615 5.615-11.846 7.923-6.23 2.308-13.461 2.308Z'/%3E%3C/svg%3E");
      content: "";
   }
   header .gnb .depth1 > li.on > a::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' fill='%23e80a4d' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M480-542.463 317.076-379.539q-8.307 8.308-20.884 8.5-12.576.192-21.268-8.5-8.693-8.692-8.693-21.076 0-12.385 8.693-21.077l179.769-179.769q5.615-5.615 11.846-7.923 6.23-2.307 13.461-2.307t13.461 2.307q6.231 2.308 11.846 7.923l179.769 179.769q8.308 8.308 8.5 20.884.193 12.577-8.5 21.269-8.692 8.692-21.076 8.692t-21.076-8.692L480-542.463Z'/%3E%3C/svg%3E");   }
   header .gnb .depth1 > li.on > a {
      color: #e80a4d;
   }
   header .gnb .depth1 > li > a:hover {
      color: #e80a4d;
   }
   header .gnb .on .depth2 {
      display: block;
      border: 1px solid #92573a;
      border-radius: 0 100px 100px 0;
      background-color: #92573a;
      margin-right: 50px;
      padding: 10px 0 10px 63px;
   }
   header .gnb .depth2 > li > a {
      font-size: 1rem;
      line-height: 2rem;
      color: #fff;
   }
   header .gnb .depth2 > li.on > a {
      font-weight: 700;
   }
   header .gnb .depth2 > li > a:hover {
      color: #fff;
      font-weight: 700;
   }
   header .gnb .gnb_open {
      display: block;
   }
   header .gnb .gnb_open,
   header .gnb .gnb_close {
      position: absolute;
      right: 0;
      top: 0;
      width: 100px;
      height: 100px;
      font-size: 0;
      line-height: 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
   }
   header .gnb .gnb_open {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M170.001-254.616q-12.75 0-21.375-8.629t-8.625-21.384q0-12.756 8.625-21.371 8.625-8.615 21.375-8.615h619.998q12.75 0 21.375 8.629 8.625 8.628 8.625 21.384 0 12.755-8.625 21.37-8.625 8.616-21.375 8.616H170.001Zm0-195.385q-12.75 0-21.375-8.628-8.625-8.629-8.625-21.384 0-12.756 8.625-21.371 8.625-8.615 21.375-8.615h619.998q12.75 0 21.375 8.628 8.625 8.629 8.625 21.384 0 12.756-8.625 21.371-8.625 8.615-21.375 8.615H170.001Zm0-195.384q-12.75 0-21.375-8.629-8.625-8.628-8.625-21.384 0-12.755 8.625-21.37 8.625-8.616 21.375-8.616h619.998q12.75 0 21.375 8.629t8.625 21.384q0 12.756-8.625 21.371-8.625 8.615-21.375 8.615H170.001Z'/%3E%3C/svg%3E");
      background-size: 35px auto;
   }
   header .gnb .gnb_close {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M480-437.847 277.076-234.924q-8.307 8.308-20.884 8.5-12.576.193-21.268-8.5-8.693-8.692-8.693-21.076t8.693-21.076L437.847-480 234.924-682.924q-8.308-8.307-8.5-20.884-.193-12.576 8.5-21.268 8.692-8.693 21.076-8.693t21.076 8.693L480-522.153l202.924-202.923q8.307-8.308 20.884-8.5 12.576-.193 21.268 8.5 8.693 8.692 8.693 21.076t-8.693 21.076L522.153-480l202.923 202.924q8.308 8.307 8.5 20.884.193 12.576-8.5 21.268-8.692 8.693-21.076 8.693t-21.076-8.693L480-437.847Z'/%3E%3C/svg%3E");
      background-size: 35px auto;
   }
   /* 메뉴가 열렸을때 */
   header.menu_open .gnb .gnb_wrap {
      display: block;
   }
   header.menu_open .gnb_open {
      display: none;
   }
   header.menu_open .gnb_close {
      display: block;
   }
   header.menu_open .tnb2 {
      display: block;
   }
}
@media screen and (max-width:768px) {
   header {
      height: 50px;
   }
   header .logo {
      top: 12px;
   }
   header .logo a {
      width: 42px;
      height: 29px;
   }
   header .gnb .gnb_open,
   header .gnb .gnb_close {
       width: 50px;
       height: 50px;
       background-size: 22px;
   }
   header .gnb .depth1 {
      margin-top: 55px;
      height: calc(100% - 50px);
   }
   header .tnb2 ul li {
   margin-right: 15px;
   font-size: 1rem;
   }
}
