@import url(default.css);
@import url(common.css);
@import url(layout.css);

/* 파일명 : main.css
   작성자 : 유선호
   작성일 : 2024.04.05
   설  명 : 메인페이지에만 들어가는 스타일을 저장 (header와 footer 빼고 전부 다) */


@media screen and (max-width:1600px) {
   section .wrapper {
      width: auto;
      margin: 0 150px;
   }
}
@media screen and (max-width:1024px) {
   section .wrapper {
      margin: 0 20px;
   }
}

.visual .swiper {
   height: 900px
}
.visual .swiper-slide img {
   display: block;
   width: 100%;
   height: 900px;
   object-fit: cover;
}
.visual .swiper-pagination-bullet.swiper-pagination-bullet-active {
   background-color: #fff;
}
.visual {
   position: relative;
   margin-top: 100px;
}
.visual h2 {
   display: none;
}
.visual .visual_tit {
   position: absolute; /* swiper-slide */
   text-align: right;
   top: 300px;
   right: 15%;
   transform: translate(-15%, 0);
   color: #fff;
   font-size: 75px;
   font-weight: 400;
}
.visual .visual_tit strong {
   font-weight: 700;
   line-height: 1.2;
}
.visual .visual_tit span {
   color: #C9701E;
}
.visual .visual_text {
   position: absolute;
   z-index: 1;
   left: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.6);
   width: 100%;
   height: 100px;
   color: rgba(250, 250, 250, 0.8);
   font-weight: 400;
   text-align: center;
   padding-top: 30px;
   backdrop-filter: blur(20px);
}
.visual .visual_text ul {
   display: flex;
}
.visual .visual_text ul li {
   width: 33.3%;
   height: 100px;
   position: relative;
}
.visual .visual_text ul li::after {
   position: absolute;
   top: -8px;
   right: 0;
   width: 1px;
   height: 60px;
   border-right: 1px solid rgba(255, 255, 255, 0.2);
   content: "";
}
.visual .visual_text ul li:last-child:after {
   display: none;
}
.visual .visual_text ul li a {
   display: block;
}
.visual .visual_text ul li a strong {
   font-size: 27px;
   padding: 0 70px 0 52px;
}
.visual .visual_text ul li a em {
   padding-left: 24%;
   transform: translate(-24%, 0);
}
.visual .visual_text ul li a::before{
   position: absolute;
   width: 32px;
   height: 30px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   content: "";
}
.visual .visual_text ul li.time a::before {
   background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.3744 21.5145L21.5145 20.3744L15.3056 14.1646V6.44444H13.6944V14.8346L20.3744 21.5145ZM14.5054 29C12.5003 29 10.6152 28.6195 8.84999 27.8586C7.08483 27.0976 5.54938 26.0648 4.24363 24.7603C2.9379 23.4558 1.9042 21.9218 1.14252 20.1583C0.38084 18.3948 0 16.5105 0 14.5054C0 12.5003 0.380478 10.6152 1.14143 8.84999C1.90241 7.08483 2.93516 5.54938 4.23968 4.24363C5.5442 2.9379 7.0782 1.9042 8.8417 1.14252C10.6052 0.380841 12.4895 0 14.4946 0C16.4997 0 18.3848 0.380477 20.15 1.14143C21.9152 1.90241 23.4506 2.93516 24.7564 4.23968C26.0621 5.5442 27.0958 7.0782 27.8575 8.8417C28.6192 10.6052 29 12.4895 29 14.4946C29 16.4997 28.6195 18.3848 27.8586 20.15C27.0976 21.9152 26.0648 23.4506 24.7603 24.7564C23.4558 26.0621 21.9218 27.0958 20.1583 27.8575C18.3948 28.6192 16.5105 29 14.5054 29ZM14.5 27.3889C18.0713 27.3889 21.1123 26.1336 23.6229 23.6229C26.1336 21.1123 27.3889 18.0713 27.3889 14.5C27.3889 10.9287 26.1336 7.88773 23.6229 5.37708C21.1123 2.86644 18.0713 1.61111 14.5 1.61111C10.9287 1.61111 7.88773 2.86644 5.37708 5.37708C2.86644 7.88773 1.61111 10.9287 1.61111 14.5C1.61111 18.0713 2.86644 21.1123 5.37708 23.6229C7.88773 26.1336 10.9287 27.3889 14.5 27.3889Z' fill='%23fafafa' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
   top: 2px;
   left: 14%;
   transform: translate(-14%, 0);
}
.visual .visual_text ul li.fee a::before {
   background-image: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0012 21C16.2534 21 16.4644 20.9109 16.6342 20.7327C16.804 20.5545 16.8889 20.3336 16.8889 20.0702C16.8889 19.8067 16.8036 19.5863 16.633 19.4089C16.4624 19.2316 16.251 19.1429 15.9988 19.1429C15.7466 19.1429 15.5356 19.232 15.3658 19.4102C15.196 19.5884 15.1111 19.8092 15.1111 20.0727C15.1111 20.3361 15.1964 20.5565 15.367 20.7339C15.5376 20.9113 15.749 21 16.0012 21ZM16.0012 13.9286C16.2534 13.9286 16.4644 13.8395 16.6342 13.6612C16.804 13.483 16.8889 13.2622 16.8889 12.9987C16.8889 12.7353 16.8036 12.5149 16.633 12.3375C16.4624 12.1601 16.251 12.0714 15.9988 12.0714C15.7466 12.0714 15.5356 12.1605 15.3658 12.3388C15.196 12.517 15.1111 12.7378 15.1111 13.0013C15.1111 13.2647 15.1964 13.4851 15.367 13.6625C15.5376 13.8399 15.749 13.9286 16.0012 13.9286ZM16.0012 6.85713C16.2534 6.85713 16.4644 6.76803 16.6342 6.58984C16.804 6.41162 16.8889 6.19077 16.8889 5.9273C16.8889 5.66387 16.8036 5.44345 16.633 5.26607C16.4624 5.08868 16.251 4.99999 15.9988 4.99999C15.7466 4.99999 15.5356 5.0891 15.3658 5.26732C15.196 5.44555 15.1111 5.66637 15.1111 5.92981C15.1111 6.19328 15.1964 6.4137 15.367 6.59109C15.5376 6.76845 15.749 6.85713 16.0012 6.85713ZM29.1282 26H2.87178C2.08203 26 1.40597 25.7062 0.8436 25.1187C0.2812 24.5313 0 23.825 0 23V18.2143C1.04613 17.8095 1.90027 17.1363 2.5624 16.1947C3.2245 15.253 3.55556 14.1881 3.55556 13C3.55556 11.8119 3.2245 10.747 2.5624 9.80534C1.90027 8.86368 1.04613 8.19048 0 7.78575V2.99998C0 2.17498 0.2812 1.46874 0.8436 0.881262C1.40597 0.293754 2.08203 0 2.87178 0H29.1282C29.918 0 30.594 0.293754 31.1564 0.881262C31.7188 1.46874 32 2.17498 32 2.99998V7.78575C30.9539 8.19048 30.0997 8.86368 29.4376 9.80534C28.7755 10.747 28.4444 11.8119 28.4444 13C28.4444 14.1881 28.7755 15.253 29.4376 16.1947C30.0997 17.1363 30.9539 17.8095 32 18.2143V23C32 23.825 31.7188 24.5313 31.1564 25.1187C30.594 25.7062 29.918 26 29.1282 26ZM29.1282 24.1429C29.4473 24.1429 29.7094 24.0357 29.9145 23.8214C30.1197 23.6072 30.2222 23.3333 30.2222 23V19.4071C29.1259 18.7262 28.2593 17.8208 27.6222 16.6911C26.9852 15.5613 26.6667 14.331 26.6667 13C26.6667 11.669 26.9852 10.4387 27.6222 9.30893C28.2593 8.17917 29.1259 7.27381 30.2222 6.59286V2.99998C30.2222 2.66666 30.1197 2.39285 29.9145 2.17857C29.7094 1.96428 29.4473 1.85714 29.1282 1.85714H2.87178C2.5527 1.85714 2.29059 1.96428 2.08547 2.17857C1.88034 2.39285 1.77778 2.66666 1.77778 2.99998V6.59286C2.87407 7.27381 3.74074 8.17917 4.37778 9.30893C5.01481 10.4387 5.33333 11.669 5.33333 13C5.33333 14.331 5.01481 15.5613 4.37778 16.6911C3.74074 17.8208 2.87407 18.7262 1.77778 19.4071V23C1.77778 23.3333 1.88034 23.6072 2.08547 23.8214C2.29059 24.0357 2.5527 24.1429 2.87178 24.1429H29.1282Z' fill='%23fafafa' fill-opacity='0.8'/%3E%3C/svg%3E ");
   top: 3px;
   left: 30%;
   transform: translate(-30%, 0);
}
.visual .visual_text ul li.close a::before {
   background-image: url("data:image/svg+xml,%3Csvg width='26' height='30' viewBox='0 0 26 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2937 24.4367L6.64999 19.7342L7.81877 18.5506L11.2937 22.0696L18.1812 15.0949L19.35 16.2785L11.2937 24.4367ZM2.62498 30C1.87708 30 1.2526 29.7463 0.751562 29.2389C0.250521 28.7315 0 28.0992 0 27.3418V6.32911C0 5.57173 0.250521 4.93935 0.751562 4.43197C1.2526 3.92459 1.87708 3.6709 2.62498 3.6709H5.49997V0H7.24998V3.6709H18.875V0H20.5V3.6709H23.375C24.1229 3.6709 24.7474 3.92459 25.2484 4.43197C25.7495 4.93935 26 5.57173 26 6.32911V27.3418C26 28.0992 25.7495 28.7315 25.2484 29.2389C24.7474 29.7463 24.1229 30 23.375 30H2.62498ZM2.62498 28.3544H23.375C23.625 28.3544 23.8542 28.2489 24.0625 28.038C24.2708 27.827 24.375 27.5949 24.375 27.3418V12.9114H1.625V27.3418C1.625 27.5949 1.72916 27.827 1.93749 28.038C2.14584 28.2489 2.37501 28.3544 2.62498 28.3544ZM1.625 11.2658H24.375V6.32911C24.375 6.07596 24.2708 5.8439 24.0625 5.63291C23.8542 5.42195 23.625 5.31646 23.375 5.31646H2.62498C2.37501 5.31646 2.14584 5.42195 1.93749 5.63291C1.72916 5.8439 1.625 6.07596 1.625 6.32911V11.2658Z' fill='%23fafafa' fill-opacity='0.8'/%3E%3C/svg%3E ");
   top: 2px;
   left: 25%;
   transform: translate(-25%, 0);
}
@media screen and (max-width:1320px) {
   .visual .visual_tit {
      right: 5%;
      transform: translate(-5%, 0);
      font-size: 65px;
   }
   .visual .visual_text {
      padding-top: 33px;
   }
   .visual .visual_text ul li::after {
      position: absolute;
      top: -8px;
      right: 0;
      width: 1px;
      height: 60px;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      content: "";
   }
   .visual .visual_text ul li a strong {
      font-size: 20px;
      padding: 0 20px 0 42px;
   }
   .visual .visual_text ul li a em {
      padding-left: 38%;
      transform: translate(-38%, 0);
   }
   .visual .visual_text ul li a::before{
      width: 25px;
      height: 25px;
   }
   .visual .visual_text ul li.time a::before {
      top: 1px;
      left: 6%;
      transform: translate(-6%, 0);
   }
   .visual .visual_text ul li.fee a::before {
      top: 1px;
      left: 27%;
      transform: translate(-27%, 0);
   }
   .visual .visual_text ul li.close a::before {
      top: 0;
      left: 18%;
      transform: translate(-18%, 0);
   }
}
@media screen and (max-width:1024px) {
   .visual .swiper {
      height: 500px
   }
   .visual .swiper-slide img {
      height: 500px;
   }
   .visual .visual_tit {
      top: 150px;
      right: 7%;
      transform: translate(-7%, 0);
      font-size: 35px;
   }
   .visual .visual_text {
      bottom: -150px;
      background-color: #333;
      height: 150px;
      text-align: left;
      padding-top: 15px;
   }
   .visual .visual_text ul {
      display: block;
   }
   .visual .visual_text ul li {
      width: 100%;
      height: auto;
   }
   .visual .visual_text ul li a {
      display: block;
      margin: 7px 20px;
   }
   .visual .visual_text ul li a strong {
      font-size: 20px;
      padding: 0 70px 0 55px;
   }
   .visual .visual_text ul li:first-child a strong {
      padding: 0 50px 0 55px;
   }
   .visual .visual_text ul li a em {
      padding-left: 178px;
   }
   .visual .visual_text ul li a::before{
      position: absolute;
      width: 21px;
      height: 21px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      content: "";
   }
   .visual .visual_text ul li.time a::before {
      top: 2px;
      left: 40px;
   }
   .visual .visual_text ul li.fee a::before {
      top: 3px;
      left: 45px;
   }
   .visual .visual_text ul li.close a::before {
      top: 3px;
      left: 42px;
   }
   .visual .visual_text br {
      display: block;
   }
}
@media screen and (max-width:768px) {
   .visual {
      margin-top: 50px;
   }
   .visual .swiper {
      height: 300px
   }
   .visual .swiper-slide img {
      height: 300px;
   }
   .visual .visual_tit {
      top: 100px;
      font-size: 25px;
   }
   .visual .visual_text {
      bottom: -110px;
      height: 110px;
      padding-top: 2px;
   }
   .visual .visual_text ul li a {
      margin: 5px 20px;
   }
   .visual .visual_text ul li a strong {
      font-size: 15px;
      padding: 0 24px 0 20px;
   }
   .visual .visual_text ul li:first-child a strong {
      padding: 0 10px 0 20px;
   }
   .visual .visual_text ul li a span,
   .visual .visual_text ul li a em {
      font-size: 13px;
   }
   .visual .visual_text ul li a em {
      padding-left: 85px;
   }
   .visual .visual_text ul li a::before{
      width: 14px;
      height: 14px;
   }
   .visual .visual_text ul li.time a::before {
      top: 2px;
      left: 18px;
   }
   .visual .visual_text ul li.fee a::before {
      top: 3px;
      left: 21px;
   }
   .visual .visual_text ul li.close a::before {
      top: 3px;
      left: 19px;
   }
}

.con {
   margin: 90px 0 80px 0;
}
.con .con_tit {
   display: flex;
   justify-content: space-between;
   margin-bottom: 35px;
   position: relative;
}
.con .con_tit h2 {
   font-size: 50px;
   font-weight: 700;
}
.con .con_tit .more {
   margin: 45px 18px 0 0;
}
.con .con_tit .more::after {
   position: absolute;
   top: 40px;
   right: 0;
   width: 12px;
   height: 27px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   content: "";
   background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.58333 5.41667H0V4.58333H4.58333V0H5.41667V4.58333H10V5.41667H5.41667V10H4.58333V5.41667Z' fill='black'/%3E%3C/svg%3E%0A");
}
.con .inner {
   display: flex;
   justify-content: space-between;
}
.con .inner .list {
   width: calc(33.3% - 18px);
}
.con .inner .list ul li a {
   display: block;
}
.con .inner .list img {
   width: 100%;
}
.con .inner .list strong {
   display: block;
   margin: 20px 0 10px 0;
}
.con .inner .list p {
   font-size: 20px;
   font-weight: 700;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.con .inner .list span {
   display: block;
   margin: 5px 0 10px 0;
   height: 3.6em; /* 행간 * 줄수, 단위는 em*/
   overflow: hidden;
}
.con .inner .list em {
   display: block;
   margin-bottom: 77px;
}
@media screen and (max-width:1320px) {
   .con {
      margin: 80px 0 10px 0;
   }
   .con .con_tit {
      margin-bottom: 30px;
   }
   .con .con_tit h2 {
      font-size: 45px;
   }
   .con .con_tit .more {
      margin: 35px 18px 0 0;
   }
   .con .con_tit .more::after {
      top: 32px;
      width: 10px;
      height: 25px;
   }
   .con .inner .list {
      width: calc(33.3% - 10px);
   }
   .con .inner .list strong {
      margin: 15px 0 10px 0;
   }
   .con .inner .list em {
      margin-bottom: 70px;
   }
}
@media screen and (max-width:1024px) {
   .con {
      margin: 210px 0 20px 0;
   }
   .con .con_tit h2 {
      font-size: 35px;
   }
   .con .con_tit .more {
      margin: 25px 18px 0 0;
   }
   .con .con_tit .more::after {
      top: 22px;
   }
   .con .inner .list {
      width: calc(33.3% - 10px);
   }
   .con .inner .list strong {
      margin: 15px 0 10px 0;
   }
   .con .inner .list em {
      margin-bottom: 70px;
   }
}
@media screen and (max-width:768px) {
   .con {
      margin: 160px 0 20px 0;
   }
   .con .con_tit {
      margin-bottom: 15px;
   }
   .con .con_tit h2 {
      font-size: 25px;
   }
   .con .con_tit .more {
      margin: 15px 18px 0 0;
   }
   .con .con_tit .more::after {
      top: 10px;
   }
   .con .inner .list {
      width: calc(50% - 6px);
   }
   .con .inner .list.list03 {
      display: none;
   }
   .con .inner .list strong {
      margin: 5px 0 5px 0;
   }
   .con .inner .list p {
      font-size: 15px;
   }
   .con .inner .list em {
      margin-bottom: 35px;
   }  
}

.board {
   display: flex;
}
.board .biz .event {
   margin-left: -90px;
}
.board .biz .edu {
   margin: 13px 0 0 -203px;
}
.board .notice,
.board .biz .event,
.board .biz .edu {
   position: relative;
}
.board .board_text {
   position: absolute;
   color: #fafafa;
}
.board .notice .board_text {
   top: 173px;
   left: 26%;
}
.board .event .board_text {
   top: 70px;
   left: 20%;
}
.board .edu .board_text {
   top: 70px;
   left: 30%;
}
.board .notice strong {
   font-size: 50px;
   font-weight: 700;
   margin-bottom: 10px;
   display: block;
}
.board .biz strong {
   font-size: 40px;
   font-weight: 700;
   margin-bottom: 10px;
   display: block;
}