/* 파일명 : contents.css
   작성자 : 유선호
   작성일 : 2024.02.28
   속  성 : 모든 콘텐츠 페이지별 디자인 스타일을 저장 */
@import url(default.css);
@import url(common.css);
@import url(layout.css);

/* ceo 인사말 - 회사소개 */
.cts_greeting {
   margin: 80px 0;
   position: relative;
}
.cts_greeting .tit {
   font-size: 18px;
   font-weight: 700;
   color: #1d1d1d;
   margin-bottom: 50px;
}
.cts_greeting p {
   margin: 0 594px 0 0;
}
.cts_greeting p strong {
   font-size: 15px;
   font-weight: 700;
   color: #1d1d1d;
}
.cts_greeting p strong span {
   color: #ED1C24;
}
.cts_greeting .ceo {
   position: absolute;
   left: calc(50% + 303px);
   bottom: 125px;
}
.cts_greeting .ceo .photo {
   position: relative;
}
.cts_greeting .ceo .photo::before {
   position: absolute;
   left: -172px;
   bottom: 6px;
   width: 914px;
   height: 384px;
   background-color: #ededed;
   border-radius: 200px 0 0 200px;
   content: "";
}
.cts_greeting .ceo .photo img {
   position: relative;
}
.cts_greeting .sign {
   display: flex;
   align-items: flex-start;
   margin-top: 50px;
}
.cts_greeting .sign strong {
   display: block;
   margin: 27px 52px 0 415px;
   font-size: 18px;
   font-weight: 700;
   color: #1d1d1d;
   text-align: center;
}
@media screen and (max-width:1320px) {
   .cts_greeting {
      margin: 60px 0;
      position: relative;
   }
   .cts_greeting p {
      margin: 0 500px 0 0;
   }
   .cts_greeting .ceo {
      position: absolute;
      right: 0;
      left: auto;
   }
   .cts_greeting .ceo .photo img {
      width: 300px;
   }
}
@media screen and (max-width:1024px) {
   .cts_greeting {
      margin: 45px 0 0 0;
   }
   .cts_greeting .tit br.mno {
      display: none;
   }
   .cts_greeting p {
      margin: 0;
   }
   .cts_greeting .ceo {
      position: relative;
      right: auto;
      bottom: auto;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
  }
   .cts_greeting .ceo .photo {
      height: 300px;
      overflow: hidden;
   }
   .cts_greeting .ceo .photo::before {
      display: none;
  }
   .cts_greeting .ceo .photo img {
      width: 100%;
      height: 310px;
   }
   .cts_greeting .sign {
      display: block;
      margin-top: -116px;
   }
   .cts_greeting .sign strong {
      margin: 0 52px 0px 20px;
      font-size: 18px;
      font-weight: 700;
      color: #1d1d1d;
      text-align: left;
   }
   .cts_greeting .sign img {
      margin: 10px 0 0 150px;
   }
}
@media screen and (max-width:768px) {
   .cts_greeting {
      margin: 40px 0 0 0;
   }
   .cts_greeting .tit br.mno {
      display: none;
   }
   .cts_greeting p {
      margin-bottom: 3px;
   }
   .cts_greeting .ceo .photo {
      height: 300px;
      overflow: hidden;
   }
   .cts_greeting .ceo .photo::before {
      display: none;
  }
   .cts_greeting .ceo .photo img {
      width: 100%;
      height: 197px;
   }
   .cts_greeting .sign {
      display: block;
      margin-top: -211px;
   }
   .cts_greeting .sign strong {
      margin: 0 52px 0 0;
      font-size: 13px;
      overflow-y: auto;
   }
   .cts_greeting .sign img {
      margin: 10px 0 0 0;
   }
}

/* 연혁 - 회사소개 */
.cts_history {
   margin: 30px 0 80px 0;
}
/* <div class="year10 left"></div>
   <div class="year10 right"></div>
   이렇게 두개가 있는 경우 위 left의 하단 여백과 right의 상단 여백은 중복해서 들어가지않고
   둘 중에 제일 큰 여백만 들어간다.
   margin은 위아래 여백이 부딪치는 경우 둘 중에 큰값만 적용 */
.cts_history .year10 {
   margin: 50px 0;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.cts_history .year10.right {
   flex-direction: row-reverse;
}
.cts_history .year_tit {
   width: 408px;
   position: relative; /* p */
}
.cts_history .year_tit h2 {
   font-size: 35px;
   font-weight: 700;
   color: #1d1d1d;
   margin-bottom: 20px;
}
.cts_history .year_tit .photo img {
   border-radius: 15px;
   height: 100%;
}
.cts_history .year_tit p {
   position: absolute;
   left: 20px;
   bottom: 20px;
   color: #fff;
   line-height: 1.2;
}
.cts_history .year_cnt {
   width: calc(100% - 517px);
   position: relative; /* before */
}
.cts_history .year_cnt::before {
   position: absolute;
   left: 123px;
   top: 8px;
   width: 1px;
   height: calc(100% - 30px);
   /* top으로 밀어준 만큼 빼고 선을 그리기 위해 그냥 100%만주면 top*/
   background-color: #ED1C24;
   content: "";
}
.cts_history .right .year_cnt::before {
   left: auto;
   right: 123px;
}
/* 긴 중간선의 마지막 꼬리를 흰색으로 덧칠 */
/* .cts_history .year_cnt .year1_group:last-child dl dd:last-child {
   position: relative;
}
.cts_history .year_cnt .year1_group:last-child dl dd:last-child::before {
   position: absolute;
   left: -72px;
   bottom: -20px;
   width: 1px;
   height: 100%;
   background-color: #fff;
   content: "";
}
.cts_history .right .year_cnt .year1_group:last-child dl dd:last-child::before {
   left: auto;
   right: -72px;
} */
.cts_history .year_cnt .year1_group {
   margin-bottom: 50px;
   display: flex;
   justify-content: space-between;
}
/* <div class="year_cnt">
       <div class="year1_group"></div>
       <div class="year1_group"></div>   --- last-child로 선택가능 */
.cts_history .year_cnt .year1_group:last-child {
   margin-bottom: 0;
}
.cts_history .right .year_cnt .year1_group {
   flex-direction: row-reverse; /* 콘텐츠 순서 변경 */
}
.cts_history .year_cnt .year1_group h3 {
   font-size: 25px;
   font-weight: 700;
   line-height: 1;
   color: #ED1C24;
}
.cts_history .year_cnt .year1_group dl {
   width: calc(100% - 157px);
}
.cts_history .year_cnt .year1_group dl dt {
   float: left;
   font-size: 18px;
   font-weight: 700;
   color: #1d1d1d;
   /* 뒤에 dd태그는 dt가 없는 것으로 인식 */
   position: relative; /* before */
}
.cts_history .year_cnt .year1_group dl dt::before {
   position: absolute;
   left: -37px;
   top: 8px;
   width: 7px;
   height: 7px;
   border-radius: 100%;
   background-color: #ED1C24;
   content: "";
}
.cts_history .right .year_cnt .year1_group dl dt {
   float: right;
}
.cts_history .right .year_cnt .year1_group dl dt::before {
   left: auto;
   right: -37px;
}
.cts_history .year_cnt .year1_group dl dd {
   margin: 1px 0 15px 43px;
   /* 왼쪽에 dt가 들어갈 자리를 반드시 margin으로 여백 */
}
.cts_history .right .year_cnt .year1_group dl dd {
   margin: 1px 43px 15px 0;
   text-align: right;
}
/* 만약 dd태그가 두번 역속으로 나오는 경우 두번째 dd의 경우 */
.cts_history .year_cnt .year1_group dl dd + dd {
   margin-top: -15px;
}
@media screen and (max-width:1320px) {
   .cts_history .year_tit h2 {
      font-size: 25px;
      margin-bottom: 10px;
   }
   .cts_history .year_cnt {
      width: calc(100% - 451px);
   }
   .cts_history .year_cnt::before {
      left: 98px;
      height: calc(100% - 33px);
   }
   .cts_history .right .year_cnt::before {
      left: auto;
      right: 98px;
   }
   .cts_history .year_cnt .year1_group {
      margin-bottom: 35px;
   }
   .cts_history .year_cnt .year1_group h3 {
      font-size: 20px;
   }
   .cts_history .year_cnt .year1_group dl {
      width: calc(100% - 131px);
   }
   .cts_history .year_cnt .year1_group dl dt::before {
      left: -36px;
   }
}
@media screen and (max-width:1024px) {
   .cts_history .year10 {
      display: block;
      margin: 35px 0;
   }
   .cts_history .year_tit {
      width: auto;
      /* padding: 10px 20px 30px 20px; */
   }
   .cts_history .year_tit h2 {
      font-size: 23px;
      margin: 0 0 15px 0;
   }
   .cts_history .year_tit .photo img {
      width: 100%;
      height: 250px;
      object-fit: cover;
   }
   .cts_history .year_tit p {
      left: 20px;
      bottom: 20px;
   }
   .cts_history .year_cnt {
      width: auto;
   }
   .cts_history .year_cnt::before {
      left: 16px;
      top: 38px;
      height: calc(100% - 72px);
   }
   .cts_history .right .year_cnt::before {
      left: 16px;
      right: auto;
   }
   .cts_history .year_cnt .year1_group {
      margin-bottom: 25px;
      display: block;
   }
   .cts_history .right .year_cnt .year1_group {
      flex-direction: row;
   }
   .cts_history .year_cnt .year1_group h3 {
      position: relative;
      font-size: 20px;
      margin: 10px 0 0 0;
      z-index: 1;
   }
   .cts_history .year_cnt .year1_group dl dt::before {
      left: -27px;
      top: 8px;
      width: 7px;
      height: 7px;
   }
   .cts_history .year_cnt .year1_group dl dt {
      float: none;
      margin: 10px 0 0 40px;
   }
   .cts_history .right .year_cnt .year1_group dl dt {
      float: none;
      margin: 10px 0 0 40px;
   }
   .cts_history .right .year_cnt .year1_group dl dt::before {
      right: auto;
      left: -27px;
   }
   .cts_history .year_cnt .year1_group dl dd:last-child {
      position: relative;
  }
  .cts_history .year_cnt .year1_group dl dd:last-child::after {
      position: absolute;
      left: -24px;
      bottom: -64px;
      width: 1px;
      height: calc(100% + 75px);
      background-color: #fff;
      content: "";
  }
   .cts_history .year_cnt .year1_group dl dd {
      margin: 1px 0 5px 40px;
   }
   .cts_history .right .year_cnt .year1_group dl dd {
      margin: 1px 0 5px 40px;
      text-align: left;
   }
}
@media screen and (max-width:768px) {
   .cts_history {
      margin-bottom: 50px;
   }
   .cts_history .year_tit h2 {
      font-size: 20px;
      margin: -10px 0 10px 0;
   }
   .cts_history .year_tit .photo img {
      height: 150px;
   }
   .cts_history .year_cnt::before {
      left: 16px;
      top: 36px;
      height: calc(100% - 67px);
   }
   .cts_history .right .year_cnt::before {
      left: 16px;
      right: auto;
   }
   .cts_history .year_cnt .year1_group {
      margin-bottom: 10px;
   }
   .cts_history .year_cnt .year1_group h3 {
      font-size: 18px;
   }
   .cts_history .year_cnt .year1_group dl {
      width: 100%;
   }
   .cts_history .year_cnt .year1_group dl dt {
      font-size: 15px;
      margin: 5px 0 0 30px;
   }
   .cts_history .right .year_cnt .year1_group dl dt {
      margin: 5px 0 0 30px;
   }
   .cts_history .year_cnt .year1_group dl dt::before {
      left: -16px;
      width: 5px;
      height: 5px;
   }
   .cts_history .right .year_cnt .year1_group dl dt::before {
      right: auto;
      left: -16px;
   }
   .cts_history .year_cnt .year1_group dl dd {
      margin: 1px 0 0 30px;
   }
   .cts_history .right .year_cnt .year1_group dl dd {
      margin: 1px 0 0 30px;
      text-align: left;
   }
   .cts_history .year_cnt .year1_group dl dd:last-child::after {
      left: -14px;
      bottom: -42px;
      height: calc(100% + 51px);
   }
}

/* 재무정보 - IR */
.cts_ir03 {
   margin: 80px 0 100px 0;
}
.cts_ir03 h2 {
   font-size: 30px;
   font-weight: 700;
   color: #1d1d1d;
}
.cts_ir03 p {
   margin: 10px 0 30px 0;
}
.cts_ir03 .table_wrap {
   overflow-y: auto;
   /* 모바일에서 table이 다 안보일때 좌우로 스크롤 */
}
.cts_ir03 .table_wrap table {
   width: 100%;
   border-collapse: collapse;
   /* table 에서만 적용됨
      각 th, td 칸에 boder가 들어가 있는데 중복되서 선이 이중으로 보이는걸 병합해줌 */
   border-top: 3px solid #ED1C24;
}
.cts_ir03 .table_wrap table caption {
   display: none;
}
.cts_ir03 .table_wrap table th,
.cts_ir03 .table_wrap table td {
   border: 1px solid #ccc;
}
.cts_ir03 .table_wrap table th:first-child,
.cts_ir03 .table_wrap table td:first-child {
   border-left: 0;
}
.cts_ir03 .table_wrap table th:last-child,
.cts_ir03 .table_wrap table td:last-child {
   border-right: 0;
}
.cts_ir03 .table_wrap table tbody th,
.cts_ir03 .table_wrap table tbody td {
   padding: 10px 40px;
}
.cts_ir03 .table_wrap table thead th,
.cts_ir03 .table_wrap table thead td {
   background-color: #f4f4f4;
   font-size: 20px;
   font-weight: 700;
   padding: 20px 40px;
}
.cts_ir03 .table_wrap table td {
   text-align: right;
}
.cts_ir03 .table_wrap table th {
   text-align: right;
}
.cts_ir03 .table_wrap table th:first-child {
   text-align: left;
}
@media screen and (max-width:768px) {
   .cts_ir03 {
      margin: 30px 0 50px 0;
   }
   .cts_ir03 h2 {
      font-size: 20px;
      font-weight: 700;
      color: #1d1d1d;
   }
   .cts_ir03 p {
      margin: 0 0 15px 0;
   }
   .cts_ir03 .table_wrap table tbody th,
   .cts_ir03 .table_wrap table tbody td {
      padding: 7px 20px;
   }
   .cts_ir03 .table_wrap table thead th,
   .cts_ir03 .table_wrap table thead td {
      font-size: 15px;
      font-weight: 700;
      padding: 10px 20px;
   }
}

/* 사업실적검색 - 사업분야 */
.cts_biz05 {
   margin: 80px 0 100px 0;
}
.cts_biz05 .search_group .search {
   max-width: 844px; /* 최대 넓이 */
   width: 100%;
   /* max-width: 844px을 주고 width:100%
      넓이가 기본적으로 100%인데(감싸는 영역의 넓이의 100%)
      감싸는 영역이 늘어나서 많이 넓어져서 해당 요소의 넓이도 844px이상으로 늘어날 것 같으면
      그 이상은 안늘어나게 하는 코드 max-width */
   height: 67px;
   border: 2px solid #ED1C24;
   border-radius: 50px;
   margin: 0 auto; /* 넓이가 있는 block요소를 가운데 정렬 */
   position: relative; /* before */
   padding: 0 0 0 111px;
   display: flex;
   align-items: center; /* 위아래 가운데 */
}
.cts_biz05 .search_group .search:hover {
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.cts_biz05 .search_group .search::before {
   position: absolute;
   left: 34px;
   top: -2px;
   font-size: 45px;
   font-weight: 700;
   color: #ED1C24;
   content: "K";
}
.cts_biz05 .search_group .search label {
   display: none;
}
.cts_biz05 .search_group .search input[type="text"] {
   font-size: 20px;
   font-weight: 700;
   color: #1d1d1d;
   width: calc(100% - 111px);
   border: 0;
   outline: 0; /* 입력할때 생기는 테두리 */
}
.cts_biz05 .search_group .search input[type="text"]::placeholder {
   font-weight: 400;
   color: #ccc;
}
.cts_biz05 .search_group .search input[type="submit"] {
   border: 0;
   background-color: transparent;
   font-size: 0;
   line-height: 0;
   width: 31px;
   height: 31px;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31.491' height='31.5' viewBox='0 0 31.491 31.5'%3E%3Cpath id='search_FILL0_wght300_GRAD0_opsz24' d='M147.565-801.794a11.013,11.013,0,0,1-8.095-3.315,11.013,11.013,0,0,1-3.315-8.095,11.013,11.013,0,0,1,3.315-8.095,11.013,11.013,0,0,1,8.095-3.315,11.013,11.013,0,0,1,8.095,3.315,11.013,11.013,0,0,1,3.315,8.095,10.944,10.944,0,0,1-.671,3.818,10.671,10.671,0,0,1-1.79,3.165l10.736,10.736a1.352,1.352,0,0,1,.4.974,1.319,1.319,0,0,1-.4.992,1.339,1.339,0,0,1-.983.405,1.339,1.339,0,0,1-.983-.405l-10.736-10.736a10.666,10.666,0,0,1-3.219,1.808A11.057,11.057,0,0,1,147.565-801.794Zm0-2.8a8.311,8.311,0,0,0,6.109-2.5,8.311,8.311,0,0,0,2.5-6.109,8.311,8.311,0,0,0-2.5-6.109,8.311,8.311,0,0,0-6.109-2.5,8.311,8.311,0,0,0-6.109,2.5,8.311,8.311,0,0,0-2.5,6.109,8.311,8.311,0,0,0,2.5,6.109A8.311,8.311,0,0,0,147.565-804.592Z' transform='translate(-136.155 824.614)' fill='%23ed1c24'/%3E%3C/svg%3E%0A");
   margin-left: 40px;
}
@media screen and (max-width:1024px) {
   .cts_biz05 {
      margin: 60px 0 80px 0;
   }
   .cts_biz05 .search_group .search {
      height: 50px;
      padding: 0 0 0 80px;
   }
   .cts_biz05 .search_group .search::before {
      font-size: 35px;
   }
   .cts_biz05 .search_group .search input[type="text"] {
      font-size: 18px;
      width: calc(100% - 80px);
   }
   .cts_biz05 .search_group .search input[type="submit"] {
      width: 25px;
      height: 25px;
      margin-left: 25px;
   }
}
@media screen and (max-width:768px) {
   .cts_biz05 {
      margin: 40px 0 60px 0;
   }
   .cts_biz05 .search_group .search {
      height: 35px;
      padding: 0 0 0 50px;
   }
   .cts_biz05 .search_group .search::before {
      font-size: 20px;
      left: 15px;
      top: 1px;
   }
   .cts_biz05 .search_group .search input[type="text"] {
      font-size: 13px;
      width: calc(100% - 50px);
   }
   .cts_biz05 .search_group .search input[type="submit"] {
      width: 17px;
      height: 17px;
      margin-left: 18px;
   }
}
.cts_biz05 .login_group {
   width: 100%;
   max-width: 408px;
   margin: 80px auto;
}
.cts_biz05 .login_group h2 {
   font-size: 25px;
   font-weight: 700;
   color: #1d1d1d;
   margin-bottom: 20px;
}
.cts_biz05 .login_group .login_form {
   border: 2px solid #ccc;
   border-radius: 15px;
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
}
.cts_biz05 .login_group .login_form .user_id,
.cts_biz05 .login_group .login_form .user_pw {
   height: 50px;
   display: flex;
   align-items: center; /* 위아래 가운데 */
}
.cts_biz05 .login_group .login_form .user_id {
   border-bottom: 2px solid #ccc;
}
.cts_biz05 .login_group .login_form .user_id label,
.cts_biz05 .login_group .login_form .user_pw label {
   font-size: 0;
   line-height: 0;
   width: 50px;
   height: 100%;
   background-repeat: no-repeat;
   background-position: center center;
}
.cts_biz05 .login_group .login_form .user_id label {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.887' height='21.325' viewBox='0 0 21.887 21.325'%3E%3Cpath id='person_FILL0_wght300_GRAD0_opsz24' d='M190.944-762.092a4.918,4.918,0,0,1-3.607-1.5,4.917,4.917,0,0,1-1.5-3.607,4.917,4.917,0,0,1,1.5-3.607,4.918,4.918,0,0,1,3.607-1.5,4.918,4.918,0,0,1,3.607,1.5,4.918,4.918,0,0,1,1.5,3.607,4.917,4.917,0,0,1-1.5,3.607A4.918,4.918,0,0,1,190.944-762.092ZM180-753.2v-1.027a3.622,3.622,0,0,1,.582-1.985,3.887,3.887,0,0,1,1.556-1.4A21.169,21.169,0,0,1,186.5-759.2a18.9,18.9,0,0,1,4.44-.53,18.9,18.9,0,0,1,4.44.53,21.166,21.166,0,0,1,4.365,1.591,3.887,3.887,0,0,1,1.556,1.4,3.623,3.623,0,0,1,.582,1.985v1.027a2.137,2.137,0,0,1-.647,1.57,2.137,2.137,0,0,1-1.57.647H182.218a2.137,2.137,0,0,1-1.57-.647A2.137,2.137,0,0,1,180-753.2Zm2.189.028H199.7v-1.055a1.43,1.43,0,0,0-.257-.821,1.944,1.944,0,0,0-.7-.616,18.75,18.75,0,0,0-3.845-1.407,16.622,16.622,0,0,0-3.955-.478,16.622,16.622,0,0,0-3.955.478,18.75,18.75,0,0,0-3.845,1.407,1.945,1.945,0,0,0-.7.616,1.43,1.43,0,0,0-.257.821Zm8.755-11.112a2.81,2.81,0,0,0,2.061-.857,2.81,2.81,0,0,0,.857-2.061,2.81,2.81,0,0,0-.857-2.061,2.81,2.81,0,0,0-2.061-.857,2.81,2.81,0,0,0-2.061.857,2.81,2.81,0,0,0-.857,2.061,2.81,2.81,0,0,0,.857,2.061A2.81,2.81,0,0,0,190.944-764.281ZM190.944-767.2ZM190.944-753.169Z' transform='translate(-180.001 772.306)' fill='%23ccc'/%3E%3C/svg%3E ");
}
.cts_biz05 .login_group .login_form .user_pw label {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.698' height='24.308' viewBox='0 0 18.698 24.308'%3E%3Cpath id='lock_FILL0_wght300_GRAD0_opsz24' d='M182.254-855.689a2.171,2.171,0,0,1-1.593-.66,2.171,2.171,0,0,1-.66-1.593v-11.7a2.171,2.171,0,0,1,.66-1.593,2.171,2.171,0,0,1,1.593-.66h1.486v-2.493a5.409,5.409,0,0,1,1.637-3.972A5.409,5.409,0,0,1,189.35-880a5.409,5.409,0,0,1,3.972,1.637,5.409,5.409,0,0,1,1.637,3.972v2.493h1.486a2.171,2.171,0,0,1,1.593.66,2.171,2.171,0,0,1,.66,1.593v11.7a2.171,2.171,0,0,1-.66,1.593,2.171,2.171,0,0,1-1.593.66Zm0-1.87h14.191a.373.373,0,0,0,.276-.108.374.374,0,0,0,.108-.276v-11.7a.373.373,0,0,0-.108-.276.373.373,0,0,0-.276-.108H182.254a.373.373,0,0,0-.276.108.373.373,0,0,0-.108.276v11.7a.374.374,0,0,0,.108.276A.373.373,0,0,0,182.254-857.559Zm7.1-4.051a2.1,2.1,0,0,0,1.545-.636,2.1,2.1,0,0,0,.636-1.545,2.1,2.1,0,0,0-.636-1.545,2.1,2.1,0,0,0-1.545-.636,2.1,2.1,0,0,0-1.545.636,2.1,2.1,0,0,0-.636,1.545,2.1,2.1,0,0,0,.636,1.545A2.1,2.1,0,0,0,189.35-861.611Zm-3.74-10.284h7.479v-2.493A3.607,3.607,0,0,0,192-877.037a3.606,3.606,0,0,0-2.649-1.091,3.606,3.606,0,0,0-2.649,1.091,3.606,3.606,0,0,0-1.091,2.649Zm-3.74,14.335v0Z' transform='translate(-180.001 879.997)' fill='%23ccc'/%3E%3C/svg%3E ");
}
.cts_biz05 .login_group .login_form input {
   width: calc(100% - 76px);
   font-size: 20px;
   font-weight: 700;
   color: #1d1d1d;
   border: 0;
   outline: 0;
}
.cts_biz05 .login_group .login_form input::placeholder {
   font-weight: 400;
   color: #ccc;
}
.cts_biz05 .login_group .login_chk {
   margin: 10px 0 20px 0;
}
.cts_biz05 .login_group .login_chk input {
   display: none;
}
.cts_biz05 .login_group .login_chk label {
   position: relative; /* before */
   font-size: 15px;
   color: #1d1d1d;
   padding-left: 35px;
}
.cts_biz05 .login_group .login_chk label::before {
   position: absolute;
   left: 9px;
   top: 2px;
   width: 15px;
   height: 15px;
   content: "";
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.472' height='14.472' viewBox='0 0 14.472 14.472'%3E%3Cpath id='check_circle_FILL0_wght300_GRAD0_opsz24' d='M106.156-851.128l-1.77-1.769a.552.552,0,0,0-.4-.162.538.538,0,0,0-.405.162.546.546,0,0,0-.166.4.546.546,0,0,0,.166.4l2.09,2.09a.661.661,0,0,0,.482.207.661.661,0,0,0,.482-.207l4.238-4.238a.552.552,0,0,0,.162-.4.538.538,0,0,0-.162-.405.547.547,0,0,0-.4-.166.547.547,0,0,0-.4.166Zm1.082,5.6a7.049,7.049,0,0,1-2.822-.57,7.31,7.31,0,0,1-2.3-1.546,7.306,7.306,0,0,1-1.547-2.3,7.042,7.042,0,0,1-.57-2.822,7.049,7.049,0,0,1,.57-2.822,7.309,7.309,0,0,1,1.546-2.3,7.305,7.305,0,0,1,2.3-1.547,7.042,7.042,0,0,1,2.822-.57,7.048,7.048,0,0,1,2.822.57,7.31,7.31,0,0,1,2.3,1.546,7.306,7.306,0,0,1,1.547,2.3,7.042,7.042,0,0,1,.57,2.822,7.049,7.049,0,0,1-.57,2.822,7.311,7.311,0,0,1-1.546,2.3,7.305,7.305,0,0,1-2.3,1.547A7.042,7.042,0,0,1,107.238-845.527Zm0-1.143a5.881,5.881,0,0,0,4.323-1.771,5.881,5.881,0,0,0,1.771-4.323,5.881,5.881,0,0,0-1.771-4.323,5.881,5.881,0,0,0-4.323-1.771,5.881,5.881,0,0,0-4.323,1.771,5.881,5.881,0,0,0-1.771,4.323,5.882,5.882,0,0,0,1.771,4.323A5.881,5.881,0,0,0,107.237-846.669ZM107.237-852.763Z' transform='translate(-100.001 859.999)' fill='%23ccc'/%3E%3C/svg%3E ");
}
/* <input type="checkbox"
   <label>체크</label>
   checkbox가 클릭되면 input:cjecked로 확인 가능
   체크 이후의 디자인은 input:checled 뒤에 나오는 label태그는
   반드시 코딩 순서가 input label이 나와야함 */
.cts_biz05 .login_group .login_chk input:checked + label::before {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.47' height='14.47' viewBox='0 0 14.47 14.47'%3E%3Cpath id='check_circle_FILL1_wght400_GRAD0_opsz24' d='M86.222-871.463l-1.556-1.556a.687.687,0,0,0-.506-.2.687.687,0,0,0-.506.2.686.686,0,0,0-.2.506.686.686,0,0,0,.2.506l2.062,2.062a.694.694,0,0,0,.506.217.694.694,0,0,0,.506-.217l4.088-4.088a.686.686,0,0,0,.2-.506.686.686,0,0,0-.2-.506.686.686,0,0,0-.506-.2.686.686,0,0,0-.506.2Zm1.013,5.933a7.044,7.044,0,0,1-2.822-.57,7.307,7.307,0,0,1-2.3-1.547,7.306,7.306,0,0,1-1.546-2.3,7.045,7.045,0,0,1-.57-2.822,7.045,7.045,0,0,1,.57-2.822,7.308,7.308,0,0,1,1.546-2.3,7.306,7.306,0,0,1,2.3-1.546,7.044,7.044,0,0,1,2.822-.57,7.044,7.044,0,0,1,2.822.57,7.306,7.306,0,0,1,2.3,1.546,7.308,7.308,0,0,1,1.546,2.3,7.045,7.045,0,0,1,.57,2.822,7.045,7.045,0,0,1-.57,2.822,7.307,7.307,0,0,1-1.546,2.3,7.306,7.306,0,0,1-2.3,1.547A7.044,7.044,0,0,1,87.235-865.53Z' transform='translate(-80 880)' fill='%23ed1c24'/%3E%3C/svg%3E ");
}
.cts_biz05 .login_group input[type="submit"] {
   width: 100%;
   line-height: 50px;
   background-color: #ED1C24;
   border-radius: 15px;
   border: 0;
   font-size: 20px;
   font-weight: 700;
   color: #fff;
   cursor: pointer; /* 오버시 마우스 포인터 손가락 */
}
@media screen and (max-width:1024px) {
   .cts_biz05 .login_group {
      margin: 50px auto;
   }
   .cts_biz05 .login_group h2 {
      font-size: 20px;
      margin-bottom: 15px;
   }
   .cts_biz05 .login_group .login_form .user_id,
   .cts_biz05 .login_group .login_form .user_pw {
      height: 45px;
   }
   .cts_biz05 .login_group .login_form input {
      width: calc(100% - 86px);
      font-size: 17px;
   }
   .cts_biz05 .login_group .login_chk {
      margin: 10px 0 10px 0;
   }
   .cts_biz05 .login_group .login_chk label {
      padding-left: 40px;
   }
   .cts_biz05 .login_group .login_chk label::before {
      left: 14px;
   }
   .cts_biz05 .login_group input[type="submit"] {
      line-height: 40px;
      font-size: 18px;
   }
}
@media screen and (max-width:768px) {
   .cts_biz05 .login_group {
      margin: 30px auto;
   }
   .cts_biz05 .login_group h2 {
      font-size: 18px;
      margin-bottom: 10px;
   }
   .cts_biz05 .login_group .login_form .user_id,
   .cts_biz05 .login_group .login_form .user_pw {
      height: 25px;
   }
   .cts_biz05 .login_group .login_form input {
      width: calc(100% - 0);
      font-size: 13px;
   }
   .cts_biz05 .login_group .login_chk {
      margin: 7px 0 7px 0;
   }
   .cts_biz05 .login_group .login_chk label {
      padding-left: 35px;
      font-size: 13px;
   }
   .cts_biz05 .login_group .login_chk label::before {
      left: 10px;
   }
   .cts_biz05 .login_group input[type="submit"] {
      line-height: 28px;
      font-size: 15px;
   }
   .cts_biz05 .login_group .login_form .user_id label {
      background-size: 17px auto;
   }
   .cts_biz05 .login_group .login_form .user_pw label {
      background-size: 14px auto;
   }
}

.cts_biz05 .join_group {
   max-width: 626px;
   width: 100%;
   margin: 80px auto;
}
.cts_biz05 .join_group h2 {
   font-size: 25px;
   font-weight: 700;
   color: #1d1d1d;
   margin-bottom: 10px;
}
.cts_biz05 .join_group .agree_box {
   width: 100%;
   height: 352px;
   border: 2px solid #ccc;
   padding: 20px;
   border-radius: 15px;
   margin-top: 20px;
}
.cts_biz05 .join_group .agree_box .inner1 {
   width: 100%;
   height: 100%;
   overflow-y: auto;
}
.cts_biz05 .join_group .agree_box .inner1::-webkit-scrollbar {
   width: 5px;
   height: 8px;
   background-color: transparent; /* 또는 트랙에 추가한다 */
}
 /* 썸(thumb) 추가 */
.cts_biz05 .join_group .agree_box .inner1::-webkit-scrollbar-thumb {
   background: #ccc;
   border-radius: 3px;
}
.cts_biz05 .join_group .agree_box .inner2 {
   white-space: pre-line;
}
.cts_biz05 .join_group .agree_box strong {
   font-size: 18px;
   font-weight: 700;
   color: #1d1d1d;
}
.cts_biz05 .join_group .agree_btn {
   display: flex;
   justify-content: space-evenly;
   margin: 20px 0 80px 0;
}
.cts_biz05 .join_group .agree_btn input {
   display: none;
}
.cts_biz05 .join_group .agree_btn label {
   padding: 5px 0 5px 30px;
   display: block;
   position: relative; /* before*/
   cursor: pointer; /* 마우스를 올릴때 포인트를 손가락으로 */
}
.cts_biz05 .join_group .agree_btn label::before {
   position: absolute;
   left: 0;
   top: 4px;
   width: 21px;
   height: 21px;
   content: "";
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.472' height='14.472' viewBox='0 0 14.472 14.472'%3E%3Cpath id='check_circle_FILL0_wght300_GRAD0_opsz24' d='M106.156-851.128l-1.77-1.769a.552.552,0,0,0-.4-.162.538.538,0,0,0-.405.162.546.546,0,0,0-.166.4.546.546,0,0,0,.166.4l2.09,2.09a.661.661,0,0,0,.482.207.661.661,0,0,0,.482-.207l4.238-4.238a.552.552,0,0,0,.162-.4.538.538,0,0,0-.162-.405.547.547,0,0,0-.4-.166.547.547,0,0,0-.4.166Zm1.082,5.6a7.049,7.049,0,0,1-2.822-.57,7.31,7.31,0,0,1-2.3-1.546,7.306,7.306,0,0,1-1.547-2.3,7.042,7.042,0,0,1-.57-2.822,7.049,7.049,0,0,1,.57-2.822,7.309,7.309,0,0,1,1.546-2.3,7.305,7.305,0,0,1,2.3-1.547,7.042,7.042,0,0,1,2.822-.57,7.048,7.048,0,0,1,2.822.57,7.31,7.31,0,0,1,2.3,1.546,7.306,7.306,0,0,1,1.547,2.3,7.042,7.042,0,0,1,.57,2.822,7.049,7.049,0,0,1-.57,2.822,7.311,7.311,0,0,1-1.546,2.3,7.305,7.305,0,0,1-2.3,1.547A7.042,7.042,0,0,1,107.238-845.527Zm0-1.143a5.881,5.881,0,0,0,4.323-1.771,5.881,5.881,0,0,0,1.771-4.323,5.881,5.881,0,0,0-1.771-4.323,5.881,5.881,0,0,0-4.323-1.771,5.881,5.881,0,0,0-4.323,1.771,5.881,5.881,0,0,0-1.771,4.323,5.882,5.882,0,0,0,1.771,4.323A5.881,5.881,0,0,0,107.237-846.669ZM107.237-852.763Z' transform='translate(-100.001 859.999)' fill='%23ccc'/%3E%3C/svg%3E ");
}
/* html에서 미리 체크되어 있게 <input type="radio" checked> 를 주면 css에서는 input:checked 로 선택 */
.cts_biz05 .join_group .agree_btn input:checked + label::before {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.47' height='14.47' viewBox='0 0 14.47 14.47'%3E%3Cpath id='check_circle_FILL1_wght400_GRAD0_opsz24' d='M86.222-871.463l-1.556-1.556a.687.687,0,0,0-.506-.2.687.687,0,0,0-.506.2.686.686,0,0,0-.2.506.686.686,0,0,0,.2.506l2.062,2.062a.694.694,0,0,0,.506.217.694.694,0,0,0,.506-.217l4.088-4.088a.686.686,0,0,0,.2-.506.686.686,0,0,0-.2-.506.686.686,0,0,0-.506-.2.686.686,0,0,0-.506.2Zm1.013,5.933a7.044,7.044,0,0,1-2.822-.57,7.307,7.307,0,0,1-2.3-1.547,7.306,7.306,0,0,1-1.546-2.3,7.045,7.045,0,0,1-.57-2.822,7.045,7.045,0,0,1,.57-2.822,7.308,7.308,0,0,1,1.546-2.3,7.306,7.306,0,0,1,2.3-1.546,7.044,7.044,0,0,1,2.822-.57,7.044,7.044,0,0,1,2.822.57,7.306,7.306,0,0,1,2.3,1.546,7.308,7.308,0,0,1,1.546,2.3,7.045,7.045,0,0,1,.57,2.822,7.045,7.045,0,0,1-.57,2.822,7.307,7.307,0,0,1-1.546,2.3,7.306,7.306,0,0,1-2.3,1.547A7.044,7.044,0,0,1,87.235-865.53Z' transform='translate(-80 880)' fill='%23ed1c24'/%3E%3C/svg%3E ");
}
.cts_biz05 .join_group .info .info_box {
   border: 2px solid #ccc;
   border-radius: 15px;
   margin-top: 20px;
}
.cts_biz05 .join_group .info .info_box > div {
   height: 50px;
   display: flex;
   align-items: center; /* 위아래 가운데 */
   border-bottom: 2px solid #ccc;
}
.cts_biz05 .join_group .info .info_box > div:last-child {
   border-bottom: 0;
}
.cts_biz05 .join_group .info .info_box .user_id label,
.cts_biz05 .join_group .info .info_box .user_pw label,
.cts_biz05 .join_group .info .info_box .user_mail label {
   width: 70px;
   height: 100%;
   font-size: 0;
   line-height: 0;
   background-repeat: no-repeat;
   background-position: center center;
}
.cts_biz05 .join_group .info .info_box .user_id label {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.887' height='21.325' viewBox='0 0 21.887 21.325'%3E%3Cpath id='person_FILL0_wght300_GRAD0_opsz24' d='M190.944-762.092a4.918,4.918,0,0,1-3.607-1.5,4.917,4.917,0,0,1-1.5-3.607,4.917,4.917,0,0,1,1.5-3.607,4.918,4.918,0,0,1,3.607-1.5,4.918,4.918,0,0,1,3.607,1.5,4.918,4.918,0,0,1,1.5,3.607,4.917,4.917,0,0,1-1.5,3.607A4.918,4.918,0,0,1,190.944-762.092ZM180-753.2v-1.027a3.622,3.622,0,0,1,.582-1.985,3.887,3.887,0,0,1,1.556-1.4A21.169,21.169,0,0,1,186.5-759.2a18.9,18.9,0,0,1,4.44-.53,18.9,18.9,0,0,1,4.44.53,21.166,21.166,0,0,1,4.365,1.591,3.887,3.887,0,0,1,1.556,1.4,3.623,3.623,0,0,1,.582,1.985v1.027a2.137,2.137,0,0,1-.647,1.57,2.137,2.137,0,0,1-1.57.647H182.218a2.137,2.137,0,0,1-1.57-.647A2.137,2.137,0,0,1,180-753.2Zm2.189.028H199.7v-1.055a1.43,1.43,0,0,0-.257-.821,1.944,1.944,0,0,0-.7-.616,18.75,18.75,0,0,0-3.845-1.407,16.622,16.622,0,0,0-3.955-.478,16.622,16.622,0,0,0-3.955.478,18.75,18.75,0,0,0-3.845,1.407,1.945,1.945,0,0,0-.7.616,1.43,1.43,0,0,0-.257.821Zm8.755-11.112a2.81,2.81,0,0,0,2.061-.857,2.81,2.81,0,0,0,.857-2.061,2.81,2.81,0,0,0-.857-2.061,2.81,2.81,0,0,0-2.061-.857,2.81,2.81,0,0,0-2.061.857,2.81,2.81,0,0,0-.857,2.061,2.81,2.81,0,0,0,.857,2.061A2.81,2.81,0,0,0,190.944-764.281ZM190.944-767.2ZM190.944-753.169Z' transform='translate(-180.001 772.306)' fill='%23ccc'/%3E%3C/svg%3E ");
   background-size: 22px auto;
}
.cts_biz05 .join_group .info .info_box .user_pw label {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.698' height='24.308' viewBox='0 0 18.698 24.308'%3E%3Cpath id='lock_FILL0_wght300_GRAD0_opsz24' d='M182.254-855.689a2.171,2.171,0,0,1-1.593-.66,2.171,2.171,0,0,1-.66-1.593v-11.7a2.171,2.171,0,0,1,.66-1.593,2.171,2.171,0,0,1,1.593-.66h1.486v-2.493a5.409,5.409,0,0,1,1.637-3.972A5.409,5.409,0,0,1,189.35-880a5.409,5.409,0,0,1,3.972,1.637,5.409,5.409,0,0,1,1.637,3.972v2.493h1.486a2.171,2.171,0,0,1,1.593.66,2.171,2.171,0,0,1,.66,1.593v11.7a2.171,2.171,0,0,1-.66,1.593,2.171,2.171,0,0,1-1.593.66Zm0-1.87h14.191a.373.373,0,0,0,.276-.108.374.374,0,0,0,.108-.276v-11.7a.373.373,0,0,0-.108-.276.373.373,0,0,0-.276-.108H182.254a.373.373,0,0,0-.276.108.373.373,0,0,0-.108.276v11.7a.374.374,0,0,0,.108.276A.373.373,0,0,0,182.254-857.559Zm7.1-4.051a2.1,2.1,0,0,0,1.545-.636,2.1,2.1,0,0,0,.636-1.545,2.1,2.1,0,0,0-.636-1.545,2.1,2.1,0,0,0-1.545-.636,2.1,2.1,0,0,0-1.545.636,2.1,2.1,0,0,0-.636,1.545,2.1,2.1,0,0,0,.636,1.545A2.1,2.1,0,0,0,189.35-861.611Zm-3.74-10.284h7.479v-2.493A3.607,3.607,0,0,0,192-877.037a3.606,3.606,0,0,0-2.649-1.091,3.606,3.606,0,0,0-2.649,1.091,3.606,3.606,0,0,0-1.091,2.649Zm-3.74,14.335v0Z' transform='translate(-180.001 879.997)' fill='%23ccc'/%3E%3C/svg%3E ");
   background-size: 19px auto;
}
.cts_biz05 .join_group .info .info_box .user_mail label {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.58' height='16.247' viewBox='0 0 20.58 16.247'%3E%3Cpath id='mail_FILL0_wght300_GRAD0_opsz24' d='M101.959-763.752a1.89,1.89,0,0,1-1.389-.569A1.89,1.89,0,0,1,100-765.71v-12.331a1.89,1.89,0,0,1,.569-1.389,1.89,1.89,0,0,1,1.389-.569h16.664a1.89,1.89,0,0,1,1.389.569,1.89,1.89,0,0,1,.569,1.389v12.331a1.89,1.89,0,0,1-.569,1.389,1.89,1.89,0,0,1-1.389.569Zm17-13.06-8.138,5.21a1.282,1.282,0,0,1-.258.111.917.917,0,0,1-.269.041.917.917,0,0,1-.269-.041,1.282,1.282,0,0,1-.258-.111l-8.138-5.21v11.1a.325.325,0,0,0,.094.24.325.325,0,0,0,.24.094h16.664a.325.325,0,0,0,.24-.094.325.325,0,0,0,.094-.24Zm-8.665,3.853,8.5-5.416h-17Zm-8.665-3.853v0Z' transform='translate(-100.001 779.999)' fill='%23cccccc'/%3E%3C/svg%3E ");
}
.cts_biz05 .join_group .info .info_box .user_id input,
.cts_biz05 .join_group .info .info_box .user_pw input {
   width: calc(100% - 140px);
}
.cts_biz05 .join_group .info .info_box input[type="text"],
.cts_biz05 .join_group .info .info_box input[type="password"] {
   font-size: 20px;
   font-weight: 400;
   color: #1d1d1d;
   border: 0;
   outline: 0;
}
.cts_biz05 .join_group .info .info_box input[type="text"]::placeholder,
.cts_biz05 .join_group .info .info_box input[type="password"]::placeholder {
   font-size: 400;
   color: #ccc;
}
.cts_biz05 .join_group .info .info_box .user_mail input {
   width: calc(100% - 231px);
}
.cts_biz05 .join_group .info .info_box .user_mail select {
   font-size: 20px;
   width: 140px;
   border: 0;
   outline: 0;
}
.cts_biz05 .join_group .info .info_box .user_gender {
   justify-content: center;
}
.cts_biz05 .join_group .info .info_box .user_gender input {
   display: none;
}
.cts_biz05 .join_group .info .info_box .user_gender label {
   width: calc(50% - 54px);
   margin: 0 5px;
   line-height: 35px;
   border: 1px solid #ccc;
   border-radius: 15px;
   font-size: 20px;
   font-weight: 700;
   color: #1d1d1d;
   text-align: center;
   cursor: pointer;
}
.cts_biz05 .join_group .info .info_box .user_gender input:checked + label {
   border: 2px solid #ED1C24;
   color: #ED1C24;
}
.cts_biz05 .join_group .info input[type="submit"] {
   width: calc(100% - 218px);
   margin: 30px 109px;
   line-height: 50px;
   background-color: #ED1C24;
   border-radius: 15px;
   border: 0;
   font-size: 20px;
   font-weight: 700;
   color: #fff;
   cursor: pointer; /* 오버시 마우스 포인터 손가락 */
}
@media screen and (max-width:1024px) {
   .cts_biz05 .join_group {
      margin: 60px auto;
   }
   .cts_biz05 .join_group h2 {
      font-size: 20px;
      margin-bottom: 5px;
   }
   .cts_biz05 .join_group .agree_box {
      margin-top: 15px;
   }
   .cts_biz05 .join_group .agree_box strong {
      font-size: 17px;
   }
   .cts_biz05 .join_group .agree_btn {
      margin: 10px 0 50px 0;
   }
   .cts_biz05 .join_group .agree_btn label::before {
      width: 17px;
      height: 17px;
      left: 4px;
      top: 6px;
   }
   .cts_biz05 .join_group .info .info_box {
      margin-top: 10px;
   }
   .cts_biz05 .join_group .info .info_box > div {
      height: 45px;
   }
   .cts_biz05 .join_group .info .info_box .user_id label,
   .cts_biz05 .join_group .info .info_box .user_pw label,
   .cts_biz05 .join_group .info .info_box .user_mail label {
      width: 50px;
      height: 100%;
   }
   .cts_biz05 .join_group .info .info_box .user_id label {
      background-size: 18px auto;
   }
   .cts_biz05 .join_group .info .info_box .user_pw label {
      background-size: 15px auto;
   }
   .cts_biz05 .join_group .info .info_box .user_mail label {
      background-size: 17px auto;
   }
   .cts_biz05 .join_group .info .info_box .user_id input,
   .cts_biz05 .join_group .info .info_box .user_pw input {
      width: calc(100% - 100px);
   }
   .cts_biz05 .join_group .info .info_box input[type="text"],
   .cts_biz05 .join_group .info .info_box input[type="password"] {
      font-size: 18px;
      font-weight: 400;
   }
   .cts_biz05 .join_group .info .info_box .user_mail input {
      width: calc(100% - 198px);
   }
   .cts_biz05 .join_group .info .info_box .user_mail select {
      font-size: 18px;
      width: 132px;
   }
   .cts_biz05 .join_group .info .info_box .user_gender label {
      width: calc(50% - 54px);
      line-height: 32px;
      margin: 0 5px;
      font-size: 18px;
   }
   .cts_biz05 .join_group .info input[type="submit"] {
      width: calc(100% - 218px);
      margin: 30px 109px;
      line-height: 40px;
      font-size: 18px;
   }
}
@media screen and (max-width:768px) {
   .cts_biz05 .join_group {
      margin: 30px auto;
   }
   .cts_biz05 .join_group h2 {
      font-size: 18px;
      margin-bottom: 1px;
   }
   .cts_biz05 .join_group .agree_box {
      margin-top: 10px;
      padding: 15px;
   }
   .cts_biz05 .join_group .agree_box strong {
      font-size: 15px;
   }
   .cts_biz05 .join_group .agree_btn {
      margin: 10px 0 30px 0;
   }
   .cts_biz05 .join_group .agree_btn label {
      padding: 3px 0 3px 25px;
   }
   .cts_biz05 .join_group .agree_btn label::before {
      width: 14px;
      height: 14px;
      left: 5px;
      top: 5px;
   }
   .cts_biz05 .join_group .info .info_box {
      margin-top: 5px;
   }
   .cts_biz05 .join_group .info .info_box > div {
      height: 25px;
   }
   .cts_biz05 .join_group .info .info_box .user_id label,
   .cts_biz05 .join_group .info .info_box .user_pw label,
   .cts_biz05 .join_group .info .info_box .user_mail label {
      width: 35px;
      height: 100%;
   }
   .cts_biz05 .join_group .info .info_box .user_id label {
      background-size: 14px auto;
   }
   .cts_biz05 .join_group .info .info_box .user_pw label {
      background-size: 12px auto;
   }
   .cts_biz05 .join_group .info .info_box .user_mail label {
      background-size: 14px auto;
   }
   .cts_biz05 .join_group .info .info_box .user_id input,
   .cts_biz05 .join_group .info .info_box .user_pw input {
      width: calc(100% - 70px);
   }
   .cts_biz05 .join_group .info .info_box input[type="text"],
   .cts_biz05 .join_group .info .info_box input[type="password"] {
      font-size: 13px;
      font-weight: 400;
   }
   .cts_biz05 .join_group .info .info_box .user_mail input {
      width: calc(100% - 134px);
   }
   .cts_biz05 .join_group .info .info_box .user_mail select {
      font-size: 13px;
      width: 90px;
   }
   .cts_biz05 .join_group .info .info_box .user_gender label {
      width: calc(50% - 80px);
      line-height: 16px;
      margin: 0 5px;
      font-size: 13px;
   }
   .cts_biz05 .join_group .info .info_box .user_gender input:checked + label {
      border-width: 2px;
   }
   .cts_biz05 .join_group .info input[type="submit"] {
      width: 100%;
      margin: 20px 0;
      line-height: 28px;
      font-size: 15px;
   }
}