@import url(default.css);
@import url(common.css);
@import url(layout.css);

/* 파일명 : main.css
   작성자 : 유선호
   작성일 : 2024.04.15
   설  명 : 메인페이지에만 들어가는 스타일을 저장 (header와 footer 빼고 전부 다) */

.swiperV {
   height: 100vh;
}
.swiper-slide {
   height: 100vh;
   overflow: hidden;
}

.swiper-slide-active .home h2 {
   animation-name: right_ani;
   animation-duration: 0.5s;
   animation-iteration-count: 1; 
   animation-fill-mode: forwards;
}
.swiper-slide-active .home p {
   animation-name: right_ani;
   animation-duration: 1s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}
.swiper-slide-active .swiper-slide-active .portfolio1 strong {
   animation-name: left_ani;
   animation-duration: 2s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}
.swiper-slide-active .swiper-slide-active .portfolio1 span,
.swiper-slide-active .swiper-slide-active .portfolio1 p,
.swiper-slide-active .swiper-slide-active .portfolio1 a {
   animation-name: left_ani;
   animation-duration: 1s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}
.swiper-slide-active .swiper-slide-active .portfolio2 strong {
   animation-name: left_ani;
   animation-duration: 2s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}
.swiper-slide-active .swiper-slide-active .portfolio2 span,
.swiper-slide-active .swiper-slide-active .portfolio2 p,
.swiper-slide-active .swiper-slide-active .portfolio2 a {
   animation-name: left_ani;
   animation-duration: 1s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}
.swiper-slide-active .contact span {
   animation-name: in_ani;
   animation-duration: 3s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}

@keyframes right_ani {
   0% { transform: translate(-50px, 0); opacity: 0; }
   100% { transform: translate(0, 0); opacity: 1; }
}
@keyframes left_ani {
   0% { transform: translate(50px, 0); opacity: 0; }
   100% { transform: translate(0, 0); opacity: 1; }
}
@keyframes in_ani {
   0% { transform: translate(0, 0); opacity: 0; }
   100% { transform: translate(0, 0); opacity: 1; }
}

.home {
   position: relative;
}
.home .tit {
   position: absolute;
   left: 330px;  
   top: 325px;
   z-index: 10;
   color: #fff;
   font-size: 50px;
   text-align: left;
}
.home .tit h2 {
   font-size: 30px;
   margin-bottom: 40px;
}
.home .tit span {
   font-weight: 700;
}
.home,
.home .photo {
   height: 100vh; /* 팝업의 높이제어 */
}
.home .photo img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.about {
   height: 1000px;
   background-color: #DFD7CF;
}
.about .wrapper {
   display: flex;
   height: 900px;
}
.about .left {
   display: block;
   width: 460px;
   height: auto;
   margin: 160px 0 0 250px;
}
.about .tit {
   position: relative;
}
.about .tit h2 {
   position: absolute;
   top: -60px;
   left: -90px;
   font-size: 100px;
   font-weight: 700;
   color: #ededed;
}
.about .tit strong {
   font-size: 50px;
   position: relative;
   z-index: 10;
}
.about .tit p.pick {
   margin: 50px 0 30px 0;
}
.about .text p {
   margin-bottom: 5px;
   color: #3d3d3d;
}
.about .text span {
   font-size: 25px;
   margin: 20px 0 10px 0;
   display: inline-block;
}
.about .right {
   margin: 270px 0 0 321px;
   width: 315px;
   height: 405px;
   background: url(../images/main/photo.png) no-repeat center center / cover;
}
.about .progress {
   display: flex;
}
.about .progress li {
   position: relative;
   margin: 0 15px;
}
.about .progress li .graph {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 70px;
   height: 70px;
   border: 1px solid #3d3d3d;
   border-radius: 50%;
   font-size: 15px;
}
.about .progress li .name {
   display: block;
   text-align: center;
   font-size: 17px;
}
.about .progress li .last{
   display: block;
   text-align: center;
   font-size: 17px;
   margin-left: -22px;
}
.about .progress li svg {
   position: absolute;
   left: -7px;
   top: 15px;
   stroke-dasharray: 500;
   stroke-dashoffset: 500;
}
.swiper-slide-active .about .progress li svg {
   animation-name: circle0;
   animation-duration: 5s;
   animation-fill-mode: forwards;
   animation-timing-function: 1;
}
.about .progress li svg path {
   fill:transparent;stroke:url(#SVGID_1_);stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;
}
@keyframes circle0 {
   0% { stroke-dashoffset: 500; }
   100% { stroke-dashoffset: 0; }
 }


.portfolio1 {
   height: 1000px;
   background: url(../images/main/portfolio1.png) no-repeat center center / cover;
}
.portfolio1 .wrapper {
   height: 900px;
}
.portfolio1 .inner {
   display: flex;
   justify-content: space-between;
   height: auto;
}
.portfolio1 .left {
   margin: 338px 0 0 100px;
   color: #3d3d3d;
}
.portfolio1 .right {
   margin: 260px 0 0 0;
}
.portfolio1 .tit {
   font-size: 50px;
   position: relative;
   margin-bottom: 40px;
}
.portfolio1 .tit h2 {
   position: absolute;
   top: -60px;
   left: -90px;
   font-size: 100px;
   font-weight: 700;
   color: #ededed;
}
.portfolio1 .tit strong {
   position: relative;
   z-index: 10;
}
.portfolio1 .right .text {
   padding-left: 109px;
}
.portfolio1 .right .text span {
   font-size: 25px;
   padding: 12px;
   position: relative;
   display: block;
}
.portfolio1 .right .text span::before {
   position: absolute;
   bottom: 12px;
   left: 0;
   border: 1px solid rgba(57, 77, 117, 0);
   background-color: rgba(57, 77, 117, 0.2);
   content: "";
}
.portfolio1 .right .text span.Overview::before {
   width: 142px;
   height: 12px;
}
.portfolio1 .right .text span.Participation::before {
   width: 185px;
   height: 12px;
}
.portfolio1 .right .text span.Font::before {
   width: 85px;
   height: 12px;
}
.portfolio1 .right .text span.Color::before {
   width: 157px;
   height: 12px;
}
.portfolio1 .right .text p {
   color: #3d3d3d;
}
.portfolio1 .right .text .list {
   display: flex;
}
.portfolio1 .right .text .list p {
   border-width: 1px;
   border-style: solid;
   border-radius: 100%;
   width: 37px;
   height: 37px;
   font-size: 0;
   line-height: 0;
   margin-right: 20px;
}
.portfolio1 .right .text .list p.Color1 {
   border-color: #7C6C5D;
   background-color: #7C6C5D;
}
.portfolio1 .right .text .list p.Color2 {
   border-color: #1D1D1D;
   background-color: #1D1D1D;
}
.portfolio1 .right .text .list p.Color3 {
   border-color: #fff;
   background-color: #fff;
}
.portfolio1 .web a {
   border: 1px solid #3d3d3d;
   border-radius: 20px;
   width: 185px;
   line-height: 30px;
   margin: 30px 0 0 110px;
   display: block;
   text-align: center;
}
.portfolio1 .web a:hover {
   background-color: #3d3d3d;
   color: #fff;
}

.portfolio2 {
   height: 1000px;
   background: url(../images/main/portfolio2.png) no-repeat center center / cover;
}
.portfolio2 .inner {
   display: flex;
   height: 900px;
}
.portfolio2 .left {
   margin: 160px 0 0 0;
}
.portfolio2 .tit {
   font-size: 50px;
   position: relative;
   margin-bottom: 5px;
}
.portfolio2 .tit h2 {
   position: absolute;
   top: -60px;
   left: 0px;
   font-size: 100px;
   font-weight: 700;
   color: #ededed;
}
.portfolio2 .tit strong {
   position: relative;
   z-index: 10;
   padding-left: 90px;
}
.portfolio2 .left .text span {
   font-size: 25px;
   padding: 12px;
   position: relative;
   display: block;
}
.portfolio2 .left .text span::before {
   position: absolute;
   bottom: 12px;
   left: 0;
   border: 1px solid rgba(45, 70, 43, 0);
   background-color: rgba(45, 70, 43, 0.2);
   content: "";
}
.portfolio2 .left .text span.Overview::before {
   width: 142px;
   height: 12px;
}
.portfolio2 .left .text span.Participation::before {
   width: 185px;
   height: 12px;
}
.portfolio2 .left .text span.Font::before {
   width: 85px;
   height: 12px;
}
.portfolio2 .left .text span.Color::before {
   width: 157px;
   height: 12px;
}
.portfolio2 .left .text p {
   color: #3d3d3d;
}
.portfolio2 .left .text .list {
   display: flex;
}
.portfolio2 .left .text .list p {
   border-width: 1px;
   border-style: solid;
   border-radius: 100%;
   width: 37px;
   height: 37px;
   font-size: 0;
   line-height: 0;
   margin-right: 20px;
}
.portfolio2 .left .text .list p.Color1 {
   border-color: #313131;
   background-color: #313131;
}
.portfolio2 .left .text .list p.Color2 {
   border-color: #FAFAFA;
   background-color: #FAFAFA;
}
.portfolio2 .web a {
   border: 1px solid #3d3d3d;
   border-radius: 20px;
   width: 185px;
   line-height: 30px;
   margin-top: 30px;
   display: block;
   text-align: center;
}
.portfolio2 .web a:hover {
   background-color: #3d3d3d;
   color: #fff;
}
.portfolio2 .right {
   color: #3d3d3d;
}
.portfolio2 .right p.info {
   margin: 195px 0 0 725px;
}
.portfolio2 .right p.news {
   margin: 455px 0 0 340px;
}
.portfolio2 .right p.nav {
   margin: -30px 0 0 880px;
}

.contact {
   height: 1000px;
   background: url(../images/common/contact.png) no-repeat center center / cover;
}
.contact .wrapper {
   height: 900px;
}
.contact .tit {
   font-size: 50px;
   position: relative;
   padding: 320px 0 48px 0;
   color: #fff;
   font-weight: 700;
}
.contact .tit h2 {
   position: absolute;
   top: 260px;
   left: 0px;
   font-size: 100px;
   font-weight: 700;
   color: rgba(237, 237, 237, 0.8);
}
.contact .tit strong {
   position: relative;
   z-index: 10;
   padding-left: 90px;
}
.contact .text {
   text-align: center;
   color: #fff;
}
.contact .text span {
   font-size: 50px;
   margin-bottom: 68px;
   display: block;
}
.contact .text span strong {
   font-weight: 700;
}
.contact .text p {
   font-size: 35px;
   margin-bottom: 5px;
}
.page {
	position: fixed;
   right: 60px;
	bottom: 40%;
	z-index: 9999;
   color: #fff;
   text-align: right;
}
.page a {
   display: block;
   margin-bottom: 20px;
   padding-right: 40px;
}
.page a span {
   position: relative;
}
.page span::after {
   position: absolute;
   top: 4px;
   right: -30px;
   border-radius: 100%;
   width: 10px;
   height: 10px;
   background-color: rgba(255, 255, 255, 0.5);
   content: "";
}







body #fp-nav.fp-right {
   right: 100px;
}
body #fp-nav ul li .fp-tooltip {
   color: rgba(255, 255, 255, 0.8);
   font-size: 15px;
   font-family: inherit; /* 상속 */
   opacity: 1;
   width: auto;
   top: 3px;
}
body #fp-nav ul li a span, .fp-slidesNav ul li a span {
   height: 15px;
   width: 15px;
   background: rgba(255, 255, 255, 0.5);
}
body #fp-nav ul li a.active span,
body .fp-slidesNav ul li a.active span,
body #fp-nav ul li:hover a.active span,
body .fp-slidesNav ul li:hover a.active span {
   height: 15px;
   width: 15px;
   background-color: #fff;
   margin: -2px 0 0 -2px;
}
body #fp-nav ul li, body .fp-slidesNav ul li {
   margin: 20px 0;
}
body #fp-nav ul li:hover .fp-tooltip, body #fp-nav.fp-show-active a.active + .fp-tooltip {
   font-weight: 700;
   color: #fff;
}