@import url(default.css);
@import url(common.css);
@import url(layout.css);

/* 파일명 : main.css
   작성자 : 유선호
   작성일 : 2024.04.15
   설  명 : 메인페이지에만 들어가는 스타일을 저장 (header와 footer 빼고 전부 다) */

.home {
   position: relative;
}
.home .tit {
   position: absolute;
   left: 330px;  
   top: 325px;
   z-index: 10;
   color: #fff;
   font-size: 50px;
   text-align: left;
}
.home .tit h2 {
   font-size: 30px;
   margin-bottom: 40px;
}
.home .tit span {
   font-weight: 700;
}
.home,
.home .photo {
   height: 100vh; /* 팝업의 높이제어 */
}
.home .photo img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.about {
   height: 1000px;
   background-color: #DFD7CF;
}
.about .wrapper {
   display: flex;
}
.about .left {
   display: block;
   width: 460px;
   height: auto;
   margin: 40px 0 0 90px;
}
.about .text {
   position: relative;
}
.about .text h2 {
   position: absolute;
   top: -60px;
   left: -90px;
   font-size: 100px;
   font-weight: 700;
   color: #ededed;
}
.about .text strong {
   font-size: 50px;
   position: relative;
   z-index: 10;
}
.about .text p {
   margin-bottom: 5px;
}
.about .text p.pick {
   margin: 50px 0 30px 0;
}
.about .text span {
   font-size: 25px;
   margin: 20px 0 10px 0;
   display: inline-block;
}
.about .right {
   margin: 150px 0 0 321px;
   width: 315px;
   height: 405px;
   background: url(../images/main/photo.png) no-repeat center center / cover;
}




body #fp-nav.fp-right {
   right: 100px;
}
body #fp-nav ul li .fp-tooltip {
   color: rgba(255, 255, 255, 0.8);
   font-size: 15px;
   font-family: inherit; /* 상속 */
   opacity: 1;
   width: auto;
   top: 3px;
}
body #fp-nav ul li a span, .fp-slidesNav ul li a span {
   height: 15px;
   width: 15px;
   background: rgba(255, 255, 255, 0.5);
}
body #fp-nav ul li a.active span,
body .fp-slidesNav ul li a.active span,
body #fp-nav ul li:hover a.active span,
body .fp-slidesNav ul li:hover a.active span {
   height: 15px;
   width: 15px;
   background-color: #fff;
   margin: -2px 0 0 -2px;
}
body #fp-nav ul li, body .fp-slidesNav ul li {
   margin: 20px 0;
}
body #fp-nav ul li:hover .fp-tooltip, body #fp-nav.fp-show-active a.active + .fp-tooltip {
   font-weight: 700;
   color: #fff;
}